<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.report.mapper.RptSupplierOperatingDayMapper">
	 <select id="hqParMerchant" 
	 	resultType="com.iwhalecloud.retail.report.dto.response.ParMerchantResp">
		 SELECT 
		 merchant_id,
		 merchant_code,
		 merchant_name,
		 lan_id,
		 city 
		 FROM par_merchant 
		 WHERE 1=1 AND STATUS='1000' 
		 AND merchant_type = '02' 
		 AND DATE_FORMAT(LAST_UPDATE_DATE,'%Y-%m-%d')=DATE_SUB(CURDATE(),INTERVAL 1 DAY)
	 </select>

 	<select id="hqMktResStore" parameterType="com.iwhalecloud.retail.report.dto.request.MktResInstEventReq"
            resultType="String">
            SELECT mkt_res_store_id FROM mkt_res_store WHERE mkt_res_store_id
				IN(SELECT mkt_res_store_id FROM mkt_res_store_obj_rel WHERE obj_id=#{req.merchantId})
				AND store_sub_type='1300'
     </select>       
      
    <select id="hqMktResInst" parameterType="com.iwhalecloud.retail.report.dto.request.MktResInstEventReq"
            resultType="com.iwhalecloud.retail.report.dto.response.MktResInstResq">
	            SELECT b.product_id,p.unit_name product_base_name,base.product_name,base.brand_id,pb.name brand_name,base.param1 price_level,base.product_base_id FROM(
				SELECT a.mkt_res_id product_id FROM mkt_res_inst a WHERE a.mkt_res_store_id =#{req.mktResStoreId} AND a.status_cd='1202' 
				 AND DATE_FORMAT(STATUS_DATE,'%Y-%m-%d')=DATE_SUB(CURDATE(),INTERVAL 1 DAY) 
				 GROUP BY product_id) b
				LEFT JOIN prod_product p ON b.product_id = p.product_id
				LEFT JOIN prod_product_base base ON base.product_base_id = p.product_base_id
				LEFT JOIN prod_brand pb ON base.brand_id = pb.brand_id 
				GROUP BY product_base_id
     </select>  
      
     <select id="hqmktResEventru" parameterType="com.iwhalecloud.retail.report.dto.request.MktResInstEventReq"
            resultType="com.iwhalecloud.retail.report.dto.response.MktResEventruchu">
             SELECT * FROM (
				SELECT base.product_base_id,b.*,n.goods_id,n.price FROM (
					SELECT a.mkt_res_event_id,a.event_type,a.obj_id,a.mkt_res_id product_id 
					FROM mkt_res_event a 
				    WHERE a.dest_store_id = #{req.mktResStoreId}  AND a.status_cd='1003'
				     AND DATE_FORMAT(STATUS_DATE,'%Y-%m-%d')=DATE_SUB(CURDATE(),INTERVAL 1 DAY) 
				     GROUP BY product_id) b
				    LEFT JOIN  prod_product p ON b.product_id=p.product_id
				    LEFT JOIN prod_product_base base ON base.product_base_id = p.product_base_id
				    LEFT JOIN ord_order_items n ON b.obj_id=n.item_id) m
				 WHERE m.product_base_id = #{req.productBaseId}
     </select>  
     
     <select id="hqmktResEventchu" parameterType="com.iwhalecloud.retail.report.dto.request.MktResInstEventReq"
            resultType="com.iwhalecloud.retail.report.dto.response.MktResEventruchu">
	             SELECT * FROM (
				SELECT base.product_base_id,b.*,n.goods_id,n.price FROM (
					SELECT a.mkt_res_event_id,a.event_type,a.obj_id,a.mkt_res_id product_id 
					FROM mkt_res_event a 
				    WHERE a.mkt_res_store_id = #{req.mktResStoreId}  AND a.status_cd='1003' 
				     AND DATE_FORMAT(STATUS_DATE,'%Y-%m-%d')=DATE_SUB(CURDATE(),INTERVAL 1 DAY) 
				     GROUP BY product_id) b
				    LEFT JOIN  prod_product p ON b.product_id=p.product_id
				    LEFT JOIN prod_product_base base ON base.product_base_id = p.product_base_id
				    LEFT JOIN ord_order_items n ON b.obj_id=n.item_id) m
				 WHERE m.product_base_id = #{req.productBaseId}
     </select>  
            
    <select id="getDataForRptSupplierOperatingDay" parameterType="com.iwhalecloud.retail.report.dto.request.RptSupplierOperatingDayReq" >
          INSERT INTO rpt_supplier_operating_day
	(`ITEM_ID`,
	`ITEM_DATE`,
	`SUPPLIER_ID`,
	`SUPPLIER_CODE`,
	`SUPPLIER_NAME`,
	`CITY_ID`,
	`COUNTY_ID`,
	`GOODS_ID`,
	`PRODUCT_BASE_ID`,
	`PRODUCT_BASE_NAME`,
	`PRODUCT_ID`,
	`PRODUCT_NAME`,
	`BRAND_ID`,
	`BRAND_NAME`,
	`PRICE_LEVEL`,
	`SELL_NUM`,
	`SELL_AMOUNT`,
	`PURCHASE_AMOUNT`,
	`PURCHASE_NUM`,
	`MANUAL_NUM`,
	`TRANS_IN_NUM`,
	`TRANS_OUT_NUM`,
	`RETURN_NUM`,
	`STOCK_NUM`,
	`STOCK_AMOUNT`,
	`CREATE_DATE`
	) VALUES(
	NULL,
	#{req.itemDate},
	#{req.supplierId},
	#{req.supplierCode},
	#{req.supplierName},
	#{req.cityId},
	#{req.countyId},
	#{req.goodsId},
	#{req.productBaseId},
	#{req.productBaseName},
	#{req.productId},
	#{req.productName},
	#{req.brandId},
	#{req.brandName},
	#{req.priceLevel},
	#{req.sellNum},
	#{req.sellAmount},
	#{req.purchaseAmount},
	#{req.purchaseNum},
	#{req.manualNum},
	#{req.transInNum},
	#{req.transOutNum},
	#{req.returnNum},
	#{req.stockNum},
	#{req.stockAmount},
	NOW())
   
  </select>
</mapper>
