<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.system.mapper.CommonOrgMapper">

<sql id="allFields">
    t.ORG_ID 
    ,t.PARENT_ORG_ID
    ,t.PARENT_ORG_NAME
    ,t.ORG_CODE 
    ,t.ORG_NAME 
    ,t.LAN_ID 
    ,t.LAN 
    ,t.REGION_ID 
    ,t.REGION 
    ,t.ORG_LEVEL 
    ,t.STATUS_DATE 
    ,t.STATUS_CD 
    ,t.REMARK 
    ,t.CREATE_STAFF 
    ,t.CREATE_DATE 
    ,t.UPDATE_STAFF 
    ,t.UPDATE_DATE
    ,t.PATH_CODE
</sql>

	<select id="getSysCommonOrg" resultType="com.iwhalecloud.retail.system.dto.SysCommonOrgResp">
		   SELECT 
		   <include refid="allFields" />
		   from 
		   	sys_common_org t 
		   where 1=1
		   <if test="req.orgId==null or req.orgId ==''">
		   	and t.org_level='3' 
		   </if> 
		   <if test="req.lanIdName!=null and req.lanIdName !=''">
		     and t.lan_id=#{req.lanIdName}
		  </if>	
		  <if test="req.orgId !=null and req.orgId !=''">
		   	and t.org_id=#{req.orgId} 
		   </if>
	 </select>



</mapper>