<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.system.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.iwhalecloud.retail.system.entity.Menu">
    <result column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
    <result column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="MENU_DESC" jdbcType="VARCHAR" property="menuDesc" />
    <result column="MENU_URL" jdbcType="VARCHAR" property="menuUrl" />
    <result column="MENU_TYPE" jdbcType="VARCHAR" property="menuType" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="VARCHAR" property="createStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_STAFF" jdbcType="VARCHAR" property="updateStaff" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="PLATFORM" jdbcType="VARCHAR" property="platform" />
  </resultMap>
  <insert id="insert" parameterType="com.iwhalecloud.retail.system.entity.Menu">
    insert into sys_menu (MENU_ID, PARENT_MENU_ID, MENU_NAME, 
      MENU_DESC, MENU_URL, MENU_TYPE, 
      STATUS_CD, CREATE_STAFF, CREATE_DATE, 
      UPDATE_STAFF, UPDATE_DATE, PLATFORM)
    values (#{menuId,jdbcType=VARCHAR}, #{parentMenuId,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{menuDesc,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, #{menuType,jdbcType=VARCHAR}, 
      #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateStaff,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{platform,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iwhalecloud.retail.system.entity.Menu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        MENU_ID,
      </if>
      <if test="parentMenuId != null">
        PARENT_MENU_ID,
      </if>
      <if test="menuName != null">
        MENU_NAME,
      </if>
      <if test="menuDesc != null">
        MENU_DESC,
      </if>
      <if test="menuUrl != null">
        MENU_URL,
      </if>
      <if test="menuType != null">
        MENU_TYPE,
      </if>
      <if test="statusCd != null">
        STATUS_CD,
      </if>
      <if test="createStaff != null">
        CREATE_STAFF,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateStaff != null">
        UPDATE_STAFF,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuId != null">
        #{parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuDesc != null">
        #{menuDesc,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
        #{createStaff,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
        #{updateStaff,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>