<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.system.mapper.UserMapper">
  <sql id="allFields">
    t.USER_ID
    ,t.LOGIN_NAME
    ,t.LOGIN_PWD
    ,t.STATUS_CD
    ,t.USER_NAME
    ,t.REMARK
    ,t.USER_FOUNDER
    ,t.REL_TYPE
    ,t.REL_NO
    ,t.LAN_ID
    ,t.REL_CODE
    ,t.CUR_LOGIN_TIME
    ,t.LAST_LOGIN_TIME
    ,t.FAIL_LOGIN_CNT
    ,t.SUCCESS_LOGIN_CNT
    ,t.PHONE_NO
    ,t.ORG_ID
    ,t.EMAIL
    ,t.REGION_ID
    ,t.CREATE_STAFF
    ,t.CREATE_DATE
    ,t.UPDATE_STAFF
    ,t.UPDATE_DATE
    ,t.SYS_POST_ID
    ,t.SYS_POST_NAME
    ,CHANGE_PWD_COUNT
</sql>

    <select id="getUserDetail" parameterType="String"
            resultType="com.iwhalecloud.retail.system.dto.UserDetailDTO">
        SELECT su.*, sr.REGION_NAME, sl.LAN_NAME, so.ORG_NAME
        FROM SYS_USER su
        LEFT JOIN SYS_REGIONS sr ON su.REGION_ID = sr.REGION_ID
        LEFT JOIN SYS_LAN sl ON su.LAN_ID = sl.LAN_ID
        LEFT JOIN SYS_ORGANIZATION so ON su.ORG_ID = so.ORG_ID
        WHERE su.USER_ID = #{userId}
    </select>

    <select id="pageUser" parameterType="com.iwhalecloud.retail.system.dto.request.UserPageReq"
          resultType="com.iwhalecloud.retail.system.dto.UserDTO">
    SELECT a.* FROM SYS_USER a
    <where>
        1 = 1
        <if test="req.loginName!=null and req.loginName!=''">
            and a.LOGIN_NAME like CONCAT(CONCAT('%', #{req.loginName}), '%')
        </if>
        <if test="req.userName!=null and req.userName!=''">
            and a.USER_NAME like CONCAT(CONCAT('%', #{req.userName}), '%')
        </if>
        <if test="req.userFounder != null and req.userFounder != ''">
            and a.USER_FOUNDER = #{req.userFounder}
        </if>
        <if test="req.orgId!=null and req.orgId!=''">
          and a.ORG_ID = #{req.orgId}
        </if>
        <if test="req.statusList != null and req.statusList.size > 0">
            and a.STATUS_CD in
            <foreach collection="req.statusList" open="(" index="index" item="item" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="req.isRelCodeNull != null and req.isRelCodeNull == true ">
            and ( a.REL_CODE is null or a.REL_CODE = '' )
        </if>
        <if test="req.orgName!=null and req.orgName!=''">
            and a.ORG_ID IN (
                SELECT ORG_ID FROM SYS_ORGANIZATION WHERE ORG_NAME LIKE CONCAT(CONCAT('%', #{req.orgName}), '%')
            )
        </if>
    </where>
    order by a.CREATE_DATE desc
  </select>

    <select id="listUser" parameterType="com.iwhalecloud.retail.system.dto.request.UserListReq"
            resultType="com.iwhalecloud.retail.system.dto.UserDTO">
        SELECT a.* FROM SYS_USER a
        <where>
            1 = 1
            <if test="req.loginName!=null and req.loginName!=''">
                and a.LOGIN_NAME like CONCAT(CONCAT('%', #{req.loginName}), '%')
            </if>
            <if test="req.userName!=null and req.userName!=''">
                and a.USER_NAME like CONCAT(CONCAT('%', #{req.userName}), '%')
            </if>
            <if test="req.relCode != null and req.relCode != ''">
                and a.REL_CODE = #{req.relCode}
            </if>
            <if test="req.relNo != null and req.relNo != ''">
                and a.REL_NO = #{req.relNo}
            </if>
            <!--<if test="req.statusList != null">-->
                <!--and a.STATUS_CD in-->
                <!--<foreach collection="req.statusList" open="(" index="index" item="item" separator="," close=")">-->
                    <!--#{item}-->
                <!--</foreach>-->
            <!--</if>-->
            <if test="req.userFounderList != null">
                and a.USER_FOUNDER in
                <foreach collection="req.userFounderList" open="(" index="index" item="item" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="req.userIdList != null">
                and a.USER_ID in
                <foreach collection="req.userIdList" open="(" index="index" item="item" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="req.statusCd!=null and req.statusCd!=''">
                and a.STATUS_CD = #{req.statusCd}
            </if>
            <if test="req.orgId != null and req.orgId != ''">
                and a.ORG_ID = #{req.orgId}
            </if>
            <if test="req.orgName != null and req.orgName !='' ">
                and a.ORG_ID IN (
                SELECT ORG_ID FROM SYS_ORGANIZATION WHERE ORG_NAME LIKE CONCAT(CONCAT('%', #{req.orgName}), '%')
                )
            </if>
            <if test="req.roleId != null and req.roleId != ''">
                and a.USER_ID IN (
                SELECT USER_ID FROM SYS_USER_ROLE WHERE ROLE_ID = #{req.roleId}
                )
            </if>
        </where>
        order by a.CREATE_DATE desc
    </select>
</mapper>