<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order2b.mapper.PayLogMapper">

<sql id="allFields">
    t.ID 
    ,t.PLATFORM_TYPE 
    ,t.REQUEST_TYPE 
    ,t.ORDER_ID 
    ,t.PAY_PLATFORM_ID 
    ,t.PAY_PLATFORM_ORDERID 
    ,t.PAY_TYPE 
    ,t.OPERATION_TYPE 
    ,t.TERMINAL_TYPE 
    ,t.TERMINAL_ID 
    ,t.CREATE_STAFF 
    ,t.COMMERCIAL_ID 
    ,t.WING_ID 
    ,t.MERCHANT_ID 
    ,t.WINPAY_ID 
    ,t.ORDER_MONEY 
    ,t.CHARGE_MONEY 
    ,t.MONEY_TYPE 
    ,t.PAY_STATUS 
    ,t.CREATE_DATE 
    ,t.UPDATE_DATE 
    ,t.PAY_DATA 
    ,t.PAY_DATA_MD 
    ,t.UPDATE_STAFF 
</sql>

</mapper>