<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.workflow.mapper.TaskPoolMapper">

<sql id="allFields">
    t.POOL_ID 
    ,t.TASK_ITEM_ID 
    ,t.TASK_ID 
    ,t.USER_ID 
    ,t.USER_NAME 
</sql>

</mapper>