<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.workflow.mapper.TaskItemMapper">

<sql id="allFields">
    t.TASK_ITEM_ID 
    ,t.TASK_ID 
    ,t.TASK_TYPE 
    ,t.ROUTE_ID 
    ,t.ROUTE_NAME 
    ,t.PRE_NODE_ID 
    ,t.PRE_NODE_NAME 
    ,t.CUR_NODE_ID 
    ,t.CUR_NODE_NAME 
    ,t.ITEM_STATUS 
    ,t.CREATE_TIME 
    ,t.ASSIGN_TIME 
    ,t.HANDLER_TIME 
    ,t.HANDLER_USER_ID 
    ,t.HANDLER_USER_NAME 
    ,t.HANDLER_MSG 
</sql>

    <!-- 待办基本信息查询 -->
    <select id="queryTaskItemByFormId" parameterType="java.lang.String"
            resultType="com.iwhalecloud.retail.workflow.entity.TaskItem">
        SELECT
        <include refid="allFields" />
        FROM
        wf_task a,
        wf_task_item t
        <where>
            a.task_id = t.task_id
            AND a.form_id = #{form_id}
        </where>
    </select>

    <!--<select id="getCurTaskItem" parameterType="java.lang.String"
            resultType="com.iwhalecloud.retail.workflow.entity.TaskItem">
        SELECT
        <include refid="allFields" />
        FROM
        wf_task_item t
        <where>
            t.task_id =#{task_id}
        </where>
        order by create_time desc limit 1
    </select>-->
</mapper>