<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order.mapper.DeliveryMapper">

    <insert id="saveDelivery" parameterType="com.iwhalecloud.retail.order.model.DeliverEntity">
        INSERT INTO ord_DELIVERY(
        delivery_id,type,order_id,member_id,ship_type,ship_name,province_id,city_id,region_id,ship_addr,
        ship_zip,ship_mobile,ship_tel,ship_email,create_time,ship_status,
        province,city,region
        )
        VALUES (#{deliveryId},#{type},#{orderId},#{memberId},#{shipType},#{shipName,jdbcType=VARCHAR},#{provinceId,jdbcType=VARCHAR},#{cityId,jdbcType=VARCHAR},#{regionId,jdbcType=VARCHAR},#{shipAddr,jdbcType=VARCHAR},
        #{shipZip,jdbcType=VARCHAR},#{shipMobile,jdbcType=VARCHAR},#{shipTel,jdbcType=VARCHAR},#{shipEmail,jdbcType=VARCHAR},sysdate,#{shipStatus},
        #{province,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{region,jdbcType=VARCHAR})
    </insert>

    <select id="selectDeliverByOrderId" parameterType="string" resultType="com.iwhalecloud.retail.order.dto.model.DeliveryModel">
        SELECT * FROM ord_DELIVERY WHERE order_id=#{orderID}
    </select>

    <update id="updateDeliveryInfo" parameterType="com.iwhalecloud.retail.order.dto.resquest.SendGoodsRequest">
        UPDATE ord_DELIVERY
        SET logi_id=#{logiId,jdbcType=VARCHAR},
            logi_no=#{logiNo,jdbcType=VARCHAR},
            logi_name =#{logiName,jdbcType=VARCHAR}
        WHERE order_id=#{orderId}
    </update>

</mapper>