<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order.mapper.MainHandlerOrderMapper">

    <!--订单初始化状态-->
    <update id="initOrderStatus" parameterType="com.iwhalecloud.retail.order.model.OrderUpdateAttrEntity">
        UPDATE ord_order
        SET PAY_STATUS =#{payStatus},ship_status=0,
        <if test="shipUserId !=null and shipUserId !=''">
            SHIP_USER_ID=#{shipUserId},
        </if>
        <if test="getGoodsCode !=null and getGoodsCode !=''">
            GET_GOODS_CODE=#{getGoodsCode},
        </if>
        <if test="paymoney !=null and paymoney !=''">
            paymoney=#{paymoney},
        </if>
        STATUS=#{status}
        WHERE ORDER_ID=#{orderId}
    </update>

    <!--在线支付-->
    <update id="payByZXZF" parameterType="com.iwhalecloud.retail.order.model.OrderUpdateAttrEntity">
       UPDATE ord_order
       SET PAY_STATUS=1 ,STATUS=4 ,PAY_TIME=sysdate,paymoney=#{paymoney},pay_code=#{payCode}
       WHERE ORDER_ID=#{orderId} AND PAY_STATUS=0 AND STATUS=2
    </update>

    <!--发货-->
    <update id="updateDeliverGoodsStatus" parameterType="com.iwhalecloud.retail.order.model.OrderUpdateAttrEntity">
       UPDATE ord_order
       SET SHIP_STATUS=1 , STATUS=5 ,SHIP_TIME=now()
       WHERE ORDER_ID=#{orderId} AND STATUS=4
    </update>

    <!--收货确认-->
    <update id="collectGoods" parameterType="com.iwhalecloud.retail.order.model.OrderUpdateAttrEntity">
        UPDATE ord_order
        SET STATUS=7 ,LAST_UPDATE=sysdate
        WHERE ORDER_ID=#{orderId} AND STATUS=5
    </update>

    <!--删除订单-->
    <update id="deleteOrder" parameterType="com.iwhalecloud.retail.order.model.OrderUpdateAttrEntity">
         UPDATE ord_order SET  is_delete=1 WHERE ORDER_ID=#{orderId}
    </update>

    <!--查询订单状态（校验）-->
    <select id="selectOrderStatus" resultType="com.iwhalecloud.retail.order.model.OrderUpdateAttrEntity"
            parameterType="com.iwhalecloud.retail.order.model.OrderUpdateAttrEntity">
        SELECT pay_type,pay_status,ship_status,status FROM ord_order WHERE order_id=#{orderId}
    </select>

    <!--串码记录-->
    <update id="updateOrderItemsByOrderId"
            parameterType="com.iwhalecloud.retail.order.model.OrderFlowEntity">

        <foreach collection="item" item="item" index="index" open="" close="" separator=";">
            UPDATE ord_order_ITEMS
            SET IMEI=#{item.imei}
            where ORDER_ID=#{orderId} AND GOODS_ID=#{item.goodsId} AND product_id=#{item.productId}
        </foreach>
    </update>

    <!--更新订单状态-->
    <update id="updateOrderStatus" parameterType="com.iwhalecloud.retail.order.model.OrderUpdateAttrEntity">
        UPDATE ord_order set status=#{status} WHERE  order_id=#{orderId}
    </update>

</mapper>