<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iwhalecloud.retail.order.mapper.OrderSummaryMapper">

    <sql id="allFields">
        recommender_id,
        order_id,
        user_id,
        good_id,
        good_name,
        good_price,
        good_amount,
        shipping_id,
        customer_phone,
        order_price,
        percentage,
        total_percentage,
        total_order_money,
        total_order_amount,
        create_date
    </sql>

    <!-- 获取供货商或代理商的 的订单数量 -->
    <select id="getOrderCount"  parameterType="com.iwhalecloud.retail.order.dto.resquest.order.OrderCountOrAmountReq"
            resultType="int">
        SELECT count(1)
        FROM ord_order a
        <where>
            1 = 1
            <if test="statusList != null">
                and a.status in
                <foreach collection="statusList" open="(" index="index" item="item" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="startDate != null">
                and a.create_time <![CDATA[ >= ]]> #{startDate}
            </if>
            <if test="endDate != null">
                and a.create_time <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test="partnerId != null and partnerId != ''">
                and a.userid=#{partnerId}
            </if>
            <if test="supplierId != null and supplierId != ''">
                and a.SHIP_USER_ID=#{supplierId}
            </if>
        </where>
    </select>

    <!-- 获取供货商或代理商 的订单销售额 -->
    <select id="getOrderAmount"  parameterType="com.iwhalecloud.retail.order.dto.resquest.order.OrderCountOrAmountReq"
            resultType="Float">
        SELECT ifnull(sum(a.order_amount), 0)  as sum_amount
        FROM ord_order a
        <where>
            1 = 1
            <if test="statusList != null">
                and a.status in
                <foreach collection="statusList" open="(" index="index" item="item" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="startDate != null">
                and a.create_time <![CDATA[ >= ]]> #{startDate}
            </if>
            <if test="endDate != null">
                and a.create_time <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test="partnerId != null and partnerId != ''">
                and a.userid=#{partnerId}
            </if>
            <if test="supplierId != null and supplierId != ''">
                and a.SHIP_USER_ID=#{supplierId}
            </if>
        </where>
    </select>


    <!--弃用  获取供货商或代理商的 今天的待办订单 -->
    <!--<select id="getTodayTodoOrderCount"  parameterType="com.iwhalecloud.retail.order.dto.resquest.TodayTodoOrderCountReq"-->
            <!--resultType="int">-->
        <!--SELECT count(1)-->
        <!--FROM ord_order a-->
        <!--<where>-->
            <!--and TO_CHAR(a.create_time, 'YYYYMMDD') = TO_CHAR(SYSDATE, 'YYYYMMDD')-->
            <!--&#45;&#45; 4：待发货-->
            <!--and a.status = 4-->
            <!--<if test="partnerId!=null and partnerId!=''">-->
                <!--and a.userid=#{partnerId}-->
            <!--</if>-->
            <!--<if test="supplierId!=null and supplierId!=''">-->
                <!--and a.SHIP_USER_ID=#{supplierId}-->
            <!--</if>-->
        <!--</where>-->
    <!--</select>-->

    <!--弃用  获取供货商或代理商的 今天的订单数 -->
    <!--<select id="getTodayOrderCount"  parameterType="com.iwhalecloud.retail.order.dto.resquest.TodayOrderCountReq"-->
            <!--resultType="int">-->
        <!--SELECT count(1)-->
        <!--FROM ord_order a-->
        <!--<where>-->
            <!--and TO_CHAR(a.create_time, 'YYYYMMDD') = TO_CHAR(SYSDATE, 'YYYYMMDD')-->
            <!--&#45;&#45; 待付款2、待发货4、 确认收货5、 待评价7、 已完成6-->
            <!--and  a.status in (2, 4, 5, 6, 7)-->
            <!--<if test="partnerId!=null and partnerId!=''">-->
                <!--and a.userid=#{partnerId}-->
            <!--</if>-->
            <!--<if test="supplierId!=null and supplierId!=''">-->
                <!--and a.SHIP_USER_ID=#{supplierId}-->
            <!--</if>-->
        <!--</where>-->
    <!--</select>-->

    <!--弃用 获取供货商或代理商的 今天的订单销售额 -->
    <!--<select id="getTodayOrderAmount"  parameterType="com.iwhalecloud.retail.order.dto.resquest.TodayOrderAmountReq"-->
            <!--resultType="Float">-->
        <!--SELECT nvl(sum(nvl(a.order_amount, 0)), 0)  as sum_amount-->
        <!--FROM ord_order a-->
        <!--<where>-->
            <!--and TO_CHAR(a.create_time, 'YYYYMMDD') = TO_CHAR(SYSDATE, 'YYYYMMDD')-->
            <!--&#45;&#45; 待发货4、 确认收货5、 待评价7、 已完成6-->
            <!--and  a.status in (4, 5, 6, 7)-->
            <!--<if test="partnerId!=null and partnerId!=''">-->
                <!--and a.userid=#{partnerId}-->
            <!--</if>-->
            <!--<if test="supplierId!=null and supplierId!=''">-->
                <!--and a.SHIP_USER_ID=#{supplierId}-->
            <!--</if>-->
        <!--</where>-->
    <!--</select>-->

    <!--弃用 获取供货商或代理商的 过去一周(不包括今天）的订单销售额 实际上取啦 最近9天的数据（头尾各一天的数据用来算其他对比值的）  -->
    <!--<select id="getPastWeekOrderAmount"  parameterType="com.iwhalecloud.retail.order.dto.resquest.PastWeekOrderAmountReq"-->
            <!--resultType="com.iwhalecloud.retail.order.dto.response.PastWeekOrderAmountRespDTO">-->

        <!--SELECT  b.order_date, nvl(c.order_amount, 0) order_amount from-->
            <!--(-->
                <!--SELECT TO_CHAR(SYSDATE - LEVEL+1, 'YYYY-MM-DD') order_date-->
                <!--FROM DUAL-->
                <!--CONNECT BY LEVEL <![CDATA[ <= ]]>  9-->
            <!--) b-->
        <!--left join-->
            <!--(-->
                <!--select to_char(a.create_time, 'YYYY-MM-DD') order_date, sum(NVL(order_amount,0)) order_amount-->
                <!--from ord_order a-->
                <!--where   to_date(TO_CHAR(a.create_time, 'YYYY-MM-DD'),'YYYY-MM-DD') > to_date(TO_CHAR(SYSDATE-9, 'YYYY-MM-DD'),'YYYY-MM-DD')-->
                        <!--&#45;&#45; 待发货4、 确认收货5、 待评价7、 已完成6-->
                        <!--and  a.status in (4, 5, 6, 7)-->
                        <!--<if test="partnerId!=null and partnerId!=''">-->
                            <!--and a.userid=#{partnerId}-->
                        <!--</if>-->
                        <!--<if test="supplierId!=null and supplierId!=''">-->
                            <!--and a.SHIP_USER_ID=#{supplierId}-->
                        <!--</if>-->
                <!--group by to_char(a.create_time, 'YYYY-MM-DD')-->
            <!--) c-->
        <!--on b.order_date = c.order_date-->
        <!--order by b.order_date-->
    <!--</select>-->


    <!-- 获取供货商或代理商  的获取某个时间段（今天、本月、本年）的订单销售额类别  -->
    <select id="getOrderAmountCategory"  parameterType="com.iwhalecloud.retail.order.dto.resquest.OrderAmountCategoryReq"
            resultType="com.iwhalecloud.retail.order.dto.response.OrderAmountCategoryRespDTO">

        SELECT a.name cat_name, nvl(b.order_amount, 0) order_amount from
            (
                SELECT cat_id, name FROM prod_GOODS_CAT
                    -- 一级类别
                    where parent_id='0'
            ) a
        left join
            (
                SELECT sum(nvl(o.order_amount, 0)) order_amount, gc.cat_id  from  ord_order o
                left join ord_order_ITEMS oi on o.ORDER_ID=oi.ORDER_ID
                left join prod_GOODS g on oi.GOODS_ID=g.GOODS_ID
                left join prod_GOODS_CAT gc on g.CAT_ID=gc.CAT_ID
                    -- 待发货4、 确认收货5、 待评价7、 已完成6
                where  1 = 1
                    <if test="statusList != null">
                        and o.status in
                        <foreach collection="statusList" open="(" index="index" item="item" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="startDate!=null">
                        and o.create_time <![CDATA[ >= ]]> #{startDate}
                    </if>
                    <if test="endDate!=null">
                        and o.create_time <![CDATA[ <= ]]> #{endDate}
                    </if>
                    <if test="partnerId!=null and partnerId!=''">
                        and o.userid=#{partnerId}
                    </if>
                    <if test="supplierId!=null and supplierId!=''">
                        and o.SHIP_USER_ID=#{supplierId}
                    </if>
                group by gc.cat_id
            ) b
        on a.cat_id=b.cat_id

    </select>

</mapper>