<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order.mapper.OrderZFlowMapper">

    <select id="selectFlowList" parameterType="com.iwhalecloud.retail.order.dto.model.OrderZFlowModel"
            resultType="com.iwhalecloud.retail.order.dto.model.OrderZFlowModel">
        SELECT z.*  FROM  ord_order_z_flow z WHERE  order_id =#{orderId}  ORDER BY sort ASC
    </select>

    <select id="selectFlowInit" parameterType="com.iwhalecloud.retail.order.model.OrderFlowInitEntity"
    resultType="com.iwhalecloud.retail.order.model.OrderFlowInitEntity">
        SELECT * FROM  ord_order_init
        WHERE order_type=#{orderType} AND type_code=#{typeCode} AND pay_type=#{payType} AND bind_type=#{bindType}

    </select>

    <update id="updateFlowList" parameterType="com.iwhalecloud.retail.order.dto.model.OrderZFlowModel">
        UPDATE ord_order_z_flow
        SET is_exe=1,UPDATE_TIME=sysdate
        <if test="handlerId !=null and handlerId !=''">
            ,HANDLER_ID=#{handlerId}
        </if>
        WHERE order_id=#{orderId} AND FLOW_TYPE=#{flowType}
    </update>

    <insert id="insertFlowList" parameterType="list">
        BEGIN
        <foreach collection="list" item="item" index="index">
            INSERT INTO ord_order_z_flow (FLOW_ID,order_Id,BIND_TYPE,is_exe,HANDLER_ID,FLOW_TYPE,UPDATE_TIME,CREATE_TIME,sort)
            values
            (
            #{item.flowId},#{item.orderId},#{item.bindType},#{item.isExe},#{item.handlerId},#{item.flowType},now(),now(),#{item.sort}
            );
        </foreach>
        end;
    </insert>

    <select id="currentFlow" resultType="string"
            parameterType="com.iwhalecloud.retail.order.dto.model.OrderZFlowModel">
     SELECT flow_type FROM  ord_order_z_flow
     WHERE order_id =#{orderId} AND is_exe = 0
     ORDER BY sort ASC LIMIT 1
    </select>

    <select id="orderReminderList" resultType="com.iwhalecloud.retail.order.dto.model.OrderZFlowModel">
        SELECT z.*  FROM  ord_order_z_flow z WHERE  remind_flag!=#{remindFlag} and is_exe='0' and flow_type=#{flowType} and ROUND(TO_NUMBER(sysdate - create_time) * 24 * 60) <![CDATA[ < ]]> 7*24*60 and ROUND(TO_NUMBER(sysdate - create_time) * 24 * 60) > #{interval}
    </select>


    <update id="orderReminderUpdate" parameterType="com.iwhalecloud.retail.order.dto.model.OrderZFlowModel">
        UPDATE ord_order_z_flow
        SET remind_flag=#{remindFlag},UPDATE_TIME=sysdate
        <if test="handlerId !=null and handlerId !=''">
            ,HANDLER_ID=#{handlerId}
        </if>
        WHERE order_id=#{orderId} AND FLOW_TYPE=#{flowType}
    </update>
</mapper>