<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.promo.mapper.AccountBalanceRuleMapper">

<sql id="allFields">
    t.RULE_ID 
    ,t.BALANCE_TYPE_ID 
    ,t.RULE_TYPE 
    ,t.OBJ_TYPE 
    ,t.OBJ_ID 
    ,t.EFF_DATE 
    ,t.EXP_DATE 
    ,t.STATUS_CD 
    ,t.STATUS_DATE 
    ,t.CREATE_STAFF 
    ,t.CREATE_DATE 
    ,t.UPDATE_STAFF 
    ,t.UPDATE_DATE 
</sql>
    <select id="queryAccountBalanceRuleList" parameterType="com.iwhalecloud.retail.promo.dto.req.AccountBalanceRuleReq"
    resultType="com.iwhalecloud.retail.promo.dto.resp.AccountBalanceRuleResp">
        SELECT
        A.BALANCE_TYPE_ID,
        A.BALANCE_TYPE_NAME,
        A.ACT_ID,
        B.OBJ_ID,
        B.OBJ_TYPE,
        B.RULE_TYPE
        FROM
        ACCOUNT_BALANCE_TYPE A
        INNER JOIN ACCOUNT_BALANCE_RULE B ON A.BALANCE_TYPE_ID = B.BALANCE_TYPE_ID
        WHERE
        1 = 1
        AND A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000' AND B.EFF_DATE<![CDATA[ <= ]]>SYSDATE()
        AND B.EXP_DATE<![CDATA[ >= ]]>SYSDATE()
        <if test="req.balanceTypeId != null and req.balanceTypeId != ''">
            and A.BALANCE_TYPE_ID=#{req.balanceTypeId}
        </if>

        <if test="req.actId != null and req.actId != ''">
            and A.ACT_ID=#{req.actId}
        </if>
        <if test="req.ruleType != null and req.ruleType != ''">
            and B.RULE_TYPE=#{req.ruleType}
        </if>
        <if test="req.objId != null and req.objId != ''">
            and B.OBJ_ID=#{req.objId}
        </if>
        <if test="req.objIdList != null and req.objIdList.size > 0">
            and B.OBJ_ID in
            <foreach collection="req.objIdList" open="(" index="index" item="item" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="req.actIdList != null and req.actIdList.size > 0">
            and A.ACT_ID in
            <foreach collection="req.actIdList" open="(" index="index" item="item" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>