<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.promo.mapper.ActActivityProductRuleMapper">

<sql id="allFields">
    t.ID 
    ,t.ACT_PROD_REL_ID 
    ,t.PRODUCT_ID 
    ,t.EXPRESSION 
    ,t.RULE_AMOUNT 
    ,t.PRICE 
    ,t.GMT_CREATE 
    ,t.GMT_MODIFIED 
    ,t.CREATOR 
    ,t.MODIFIER 
    ,t.SOURCE_FROM 
    ,t.IS_DELETED 
</sql>
    <update id="deleteReBateProductRuleActivity" parameterType="com.iwhalecloud.retail.promo.dto.req.ActivityProductReq">
        update act_activity_product_rule set is_deleted = '1', GMT_MODIFIED = #{gmtModified}
        WHERE
        ACT_PROD_REL_ID = #{marketingActivityId} AND PRODUCT_ID = #{productId}
    </update>
</mapper>