<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.promo.mapper.ActivityParticipantMapper">

<sql id="allFields">
    t.ID 
    ,t.MARKETING_ACTIVITY_ID
    ,t.LAN_ID 
    ,t.CITY 
    ,t.MERCHANT_TYPE 
    ,t.MERCHANT_CODE 
    ,t.MERCHANT_NAME 
    ,t.SHOP_CODE 
    ,t.SHOP_NAME
    ,t.CREATOR
    ,t.GMT_CREATE
    ,t.MODIFIER
    ,t.GMT_MODIFIED
    ,t.SOURCE_FROM
    ,t.IS_DELETED
    ,t.status
    ,filter_type
    ,filter_value
</sql>
    <delete id="deleteActivityParticipantBatch" parameterType="java.lang.String">
        delete

        FROM act_activity_participant  where 1=1
        <if test="_parameter != null and _parameter != '' ">
            and MARKETING_ACTIVITY_ID = #{marketingActivityId}
        </if>
    </delete>
    <select id="queryActivityParticipantByMktId" parameterType="java.lang.String" resultType="com.iwhalecloud.retail.promo.dto.ActivityParticipantDTO">
        select
        <include refid="allFields"></include>
        from act_activity_participant t where 1=1
        AND t.IS_DELETED = '0'
        <if test="_parameter != null and _parameter != '' ">
            and MARKETING_ACTIVITY_ID = #{marketingActivityId}
        </if>
        order by GMT_CREATE DESC
    </select>


    <select id="queryActivityParticipantByParams" parameterType="com.iwhalecloud.retail.promo.dto.req.CheckMarketingActivityReq" resultType="com.iwhalecloud.retail.promo.dto.ActivityParticipantDTO">
        select
        <include refid="allFields"></include>
        from act_activity_participant t where 1=1
        <if test="null!=req.isDeleted and ''!=req.isDeleted">
            AND t.IS_DELETED =  #{req.isDeleted}
        </if>
        <if test="null!=req.status and ''!=req.status">
            AND t.STATUS =  #{req.status}
        </if>
        <if test="null!=req.marketingActivityId and ''!=req.marketingActivityId">
            AND t.MARKETING_ACTIVITY_ID =  #{req.marketingActivityId}
        </if>
        <if test="null!=req.custId and ''!=req.custId">
            AND t.MERCHANT_CODE =  #{req.custId}
        </if>
    </select>

    <select id="queryActivityParticipantByMktIdAndStatus" resultType="com.iwhalecloud.retail.promo.dto.ActivityParticipantDTO">
        select
        <include refid="allFields"></include>
        from act_activity_participant t where 1=1
        and t.IS_DELETED = '0'
        and t.MARKETING_ACTIVITY_ID = #{activityId}
        and t.status = #{status}
        order by GMT_CREATE DESC
    </select>

    <select id="getPrimaryKey" resultType="java.lang.String">
        select seq_retail_all_tables.nextval
    </select>

</mapper>