<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.promo.mapper.ActivityGoodsMapper">

<sql id="allFields">
    t.ID 
    ,t.MARKETING_ACTIVITY_CODE 
    ,t.GOODS_ID 
    ,t.GOODS_NAME 
    ,t.IS_AUTO_MARKET 
    ,t.CREATOR
    ,t.GMT_CREATE
    ,t.MODIFIER
    ,t.GMT_MODIFIED
</sql>

</mapper>