<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.promo.mapper.ActivityChangeMapper">

<sql id="allFields">
    t.CHANGE_ID 
    ,t.VER_NUM 
    ,t.MARKETING_ACTIVITY_ID 
    ,t.AUDIT_STATE 
    ,t.CREATE_DATE 
    ,t.CREATE_STAFF 
</sql>

</mapper>