<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.promo.mapper.MarketingActivityMapper">

    <sql id="allFields">
    t.ID
    ,t.CODE
    ,t.NAME
    ,t.BRIEF,
    ,t.DESCRIPTION
    ,t.START_TIME
    ,t.END_TIME
    ,t.ACTIVITY_TYPE
    ,t.ACTIVITY_TYPE_NAME
    ,t.PROMOTION_TYPE
    ,t.STATUS
    ,t.RELATED_TASK_ID
    ,t.INITIATOR
    ,t.SEOUENCE
    ,t.ACTIVITY_URL
    ,t.PAGE_IMG_URL
    ,t.TOP_IMG_URL
    ,t.IS_RECOMMEND
--     ,t.CREATE_STAFF
--     ,t.CREATE_DATE
--     ,t.UPDATE_STAFF
--     ,t.UPDATE_DATE
    ,t.CREATOR
    ,t.GMT_CREATE
    ,t.MODIFIER
    ,t.GMT_MODIFIED
    ,t.ACTIVITY_SCOPE_TYPE
    ,t.ACTIVITY_PARTICIPANT_TYPE
    ,t.PAY_TYPE
    ,t.PRE_START_TIME
    ,t.PRE_END_TIME
    ,t.TAIL_PAY_START_TIME
    ,t.TAIL_PAY_END_TIME
    ,t.IS_DELETED
</sql>

    <sql id="listMarketingActivityFieIds">
        t.ID
        ,t.BRIEF
        ,t.NAME
        ,t.CODE
        ,t.ACTIVITY_TYPE
        ,t.ACTIVITY_TYPE_NAME
        ,t.START_TIME
        ,t.END_TIME
        ,t.INITIATOR
        ,t.STATUS
        ,t.ACTIVITY_SCOPE_TYPE
        ,t.ACTIVITY_PARTICIPANT_TYPE
        ,t.CREATOR
        ,t.GMT_CREATE
        ,t.MODIFIER
        ,t.GMT_MODIFIED
        ,t.IS_DELETED
        ,t.DESCRIPTION
        ,t.PROMOTION_TYPE_CODE
        ,t.ACTIVITY_URL
        ,t.PAGE_IMG_URL
        ,t.TOP_IMG_URL
        ,t.DELIVER_START_TIME
        ,t.DELIVER_END_TIME
        ,t.PRE_START_TIME
        ,t.PRE_END_TIME
        ,t.TAIL_PAY_START_TIME
        ,t.TAIL_PAY_END_TIME
    </sql>
    <!--com.iwhalecloud.retail.promo.dto.resp.MarketingActivityListResp-->
    <select id="listMarketingActivity" resultType="com.iwhalecloud.retail.promo.dto.resp.MarketingActivityListResp" parameterType="com.iwhalecloud.retail.promo.dto.req.MarketingActivityListReq">
        select
        <include refid="listMarketingActivityFieIds"></include>
        from act_marketing_activity t where 1=1
        and t.IS_DELETED = '0'
        <if test="req.activityName != null and req.activityName != ''">
            and lower(t.NAME) like lower(CONCAT(CONCAT('%', #{req.activityName }), '%'))
        </if>
        <if test="req.activityCode != null and req.activityCode != ''">
            and lower(t.CODE) = #{req.activityCode }
        </if>
        <if test="req.activityType != null and req.activityType != ''">
            and lower(t.ACTIVITY_TYPE) = #{req.activityType }
        </if>
        <if test="req.activityStatus != null and req.activityStatus != ''">
            and lower(t.STATUS) =  #{req.activityStatus}
        </if>
        <if test="req.startTimeS != null and req.startTimeS != '' ">
            and lower(t.START_TIME) &gt;= #{req.startTimeS}
        </if>
        <if test="req.startTimeE != null and req.startTimeE != '' ">
            and lower(t.START_TIME) &lt;= #{req.startTimeE}
        </if>
        <if test="req.endTimeS != null and req.endTimeS != '' ">
            and lower(t.END_TIME) &gt;= #{req.endTimeS}
        </if>
        <if test="req.endTimeE != null and req.endTimeE != '' ">
            and lower(t.END_TIME) &lt;= #{req.endTimeE}
        </if>
        <if test="req.startTimeS != null and req.startTimeS != '' ">
            and lower(t.DELIVER_START_TIME) &gt;= #{req.deliverStartTimeS}
        </if>
        <if test="req.startTimeE != null and req.startTimeE != '' ">
            and lower(t.DELIVER_START_TIME) &lt;= #{req.deliverStartE}
        </if>
        <if test="req.endTimeS != null and req.endTimeS != '' ">
            and lower(t.DELIVER_END_TIME) &gt;= #{req.deliverEndTimeS}
        </if>
        <if test="req.endTimeE != null and req.endTimeE != '' ">
            and lower(t.DELIVER_END_TIME) &lt;= #{req.deliverEndTimeE}
        </if>
        <if test="req.activityInitiator != null and req.activityInitiator != '' ">
            and lower(t.INITIATOR) = #{req.activityInitiator}
        </if>
        order by t.GMT_CREATE DESC
    </select>


    <!-- 查询预售活动的单个产品信息 -->
    <select id="getAdvanceActivityProductInfo" resultType="com.iwhalecloud.retail.promo.dto.resp.AdvanceActivityProductInfoResp" parameterType="com.iwhalecloud.retail.promo.dto.req.AdvanceActivityProductInfoReq">
        select
        t.id,t.name,t.brief,t.description,t.pay_type,t.pre_start_time,t.pre_end_time,t.tail_pay_start_time,t.tail_pay_end_time
        ,b.pre_price
        from act_marketing_activity t,act_activity_product b where 1=1
        AND t.id = b.MARKETING_ACTIVITY_ID
        <if test="req.marketingActivityId != null and req.marketingActivityId != ''">
            AND t.id = #{req.marketingActivityId}
        </if>
        <if test="req.productId != null and req.productId != ''">
            AND b.product_id = #{req.productId}
        </if>

    </select>

    <select id="getMarketingActivityDtoById" parameterType="java.lang.String" resultType="com.iwhalecloud.retail.promo.dto.MarketingActivityDTO">
        select
        <include refid="listMarketingActivityFieIds"></include>
        from act_marketing_activity t where 1=1
        and t.IS_DELETED = '0'
        <if test="_parameter != null and _parameter != '' ">
            AND t.ID = #{id}
        </if>
    </select>

    <select id="queryInvalidActivity" resultType="com.iwhalecloud.retail.promo.dto.resp.MarketingActivityListResp" parameterType="com.iwhalecloud.retail.promo.dto.req.MarketingActivityListReq">
        SELECT ama.id,ama.name,ama.start_time,(CASE when (ama.status = '20') THEN ama.end_time ELSE ama.GMT_MODIFIED END) as end_time
        FROM act_marketing_activity ama
        WHERE 1=1 and ama.is_deleted = '0'
        AND (ama.status = '20' OR ama.status = '40')
        and end_time &lt; now()
        <if test="activityName !=null and activityName !=''">
           and  ama.name like concat('%',#{activityName},'%')
        </if>
        <if test="activityType !=null and activityType !=''">
           and  ama.activity_type = #{activityType}
        </if>
    </select>
</mapper>