<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.goods2b.mapper.BrandMapper" >

  <sql id="Base_Column_List" >
    BRAND_ID, NAME, BRAND_CODE, BRAND_DESC,BRAND_CODE_OUTER,is_deleted,
    CREATE_STAFF,CREATE_DATE,UPDATE_STAFF,UPDATE_DATE,MANUFACTURER_ID,MANUFACTURER_NAME
  </sql>

  <!-- listAll -->
  <select id="listAll" resultType="com.iwhalecloud.retail.goods2b.dto.resp.BrandUrlResp">
    select pb.brand_id, pb.name,pb.brand_code,pb.brand_code_outer,pb.brand_desc,pb.create_staff,pf.file_url,pb.MANUFACTURER_ID,pb.MANUFACTURER_NAME
    from prod_brand pb
    left join prod_file pf on pb.brand_id = pf.target_id
    where pf.target_type = '4'
    and is_deleted = '0'
  </select>

  <!-- 查询品牌名称及关联图片-->
  <select id="listBrandFileUrl" resultType="com.iwhalecloud.retail.goods2b.dto.resp.BrandUrlResp"
          parameterType="java.util.List">
    select pb.brand_id, pb.name,pb.brand_code,pb.brand_code_outer,pb.brand_desc,pb.create_staff,pf.file_url,pb.MANUFACTURER_ID,pb.MANUFACTURER_NAME
    from prod_brand pb
    left join prod_file pf on pb.brand_id = pf.target_id
    where pf.target_type = '4'
    and pb.is_deleted = '0'
    and pb.brand_id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="listBrandByCatId" resultType="com.iwhalecloud.retail.goods2b.dto.resp.BrandUrlResp"
          parameterType="String">
    select pb.brand_id, pb.name,pb.brand_code,pb.brand_code_outer,pb.brand_desc,pb.create_staff,pf.file_url,pb.MANUFACTURER_ID,pb.MANUFACTURER_NAME
    from prod_brand pb
    left join prod_file pf on pf.target_id = pb.brand_id
    left join prod_cat_complex pc on pc.target_id =pb.brand_id
    where 1 = 1
    and pf.target_type = '4'
    and pb.is_deleted = '0'
    and pc.target_type = '1'
    and pc.cat_id = #{catId}
  </select>

  <!-- 查询品牌名称及关联图片-->
  <select id="getBrand" resultType="com.iwhalecloud.retail.goods2b.dto.resp.BrandUrlResp"
          parameterType="com.iwhalecloud.retail.goods2b.dto.req.BrandGetReq">
    select pb.brand_id, pb.name,pb.brand_code,pb.brand_code_outer,pb.brand_desc,pb.create_staff,pf.file_url,pb.MANUFACTURER_ID,pb.MANUFACTURER_NAME
    from prod_brand pb, prod_file pf
    where pb.brand_id = pf.target_id
    and pf.target_type = '4'
    and pb.is_deleted = '0'
    <if test="null!=req.brandId and ''!=req.brandId">
      and pb.brand_id = #{req.brandId}
    </if>
    <if test="null!=req.brandName and ''!=req.brandName">
      and pb.name like CONCAT(CONCAT('%',#{req.brandName}),'%')
    </if>
    <if test="null!=req.brandCode and ''!=req.brandCode">
      and pb.brand_code like CONCAT(CONCAT('%', #{req.brandCode}), '%')
    </if>
    <if test="null!=req.brandCodeOuter and ''!=req.brandCodeOuter">
      and pb.brand_code_outer = #{req.brandCodeOuter}
    </if>
    <if test="null!=req.createStaff and ''!=req.createStaff">
      and pb.create_staff = #{req.createStaff}
    </if>
    <if test="null!=req.manufacturerId and ''!=req.manufacturerId">
      and pb.MANUFACTURER_ID = #{req.manufacturerId}
    </if>
    <if test="null!=req.manufacturerName and ''!=req.manufacturerName">
      and pb.MANUFACTURER_NAME like CONCAT(CONCAT('%', #{req.manufacturerName}), '%')
    </if>
    ORDER BY pb.CREATE_DATE DESC
  </select>

  <!-- 查询品牌名称及关联图片-->
  <select id="listBrandActivityGoodsId" resultType="com.iwhalecloud.retail.goods2b.dto.ActivityGoodsDTO"
          parameterType="com.iwhalecloud.retail.goods2b.dto.req.BrandActivityReq">
    select q.goodsId,q.goodsName,q.categoryId,q.retailPrice,q.wholeSalePrice,q.orderAmount,q.supplierId,q.imageUrl from (
    select DISTINCT p.GOODS_ID as goodsId,p.GOODS_NAME as goodsName,p.GOODS_CAT_ID as categoryId,
    p.MKTPRICE as retailPrice,p.DELIVERY_PRICE as wholeSalePrice,p.BUY_COUNT as orderAmount,
    p.SUPPLIER_ID as supplierId,t.FILE_URL as imageUrl,p.CREATE_DATE from
    (SELECT pg.GOODS_ID ,pg.GOODS_NAME ,pg.GOODS_CAT_ID ,
    pg.MKTPRICE ,pgpr.DELIVERY_PRICE ,pg.BUY_COUNT , pg.SUPPLIER_ID ,pb.CREATE_DATE,pgrr.REGION_ID
    FROM PROD_GOODS_PRODUCT_REL pgpr ,PROD_GOODS pg ,PROD_BRAND pb,PROD_GOODS_REGION_REL pgrr
    WHERE pgpr.GOODS_ID=pg.GOODS_ID
    AND pb.BRAND_ID = pg.BRAND_ID
    AND pg.GOODS_ID = pgrr.GOODS_ID
    AND pg.MARKET_ENABLE='1'
    AND pg.TARGET_TYPE='1'
    <if test="null!=req.brandId and ''!=req.brandId">
      and pb.brand_id = #{req.brandId}
    </if>
    <if test="null!=req.regionId and ''!=req.regionId">
      and (pgrr.REGION_ID = #{req.regionId} or pgrr.REGION_ID=pgrr.LAN_ID)
    </if>
    <if test="null!=req.lanId and ''!=req.lanId">
      and pgrr.LAN_ID = #{req.lanId}
    </if>
    <if test="req.productIdList != null and req.productIdList.size>0">
        and pgpr.PRODUCT_ID in
        <foreach item="item" index="index" open="(" separator="," close=")" collection="req.productIdList">
          #{item}
        </foreach>
    </if>
    ) p
    LEFT JOIN (select pc.TARGET_ID,pc.FILE_URL from prod_file pc where pc.SUB_TYPE='6' and pc.FILE_TYPE='1'
    and pc.TARGET_TYPE='1') t on t.TARGET_ID = p.GOODS_ID
    UNION ALL
    select DISTINCT p.GOODS_ID as goodsId,p.GOODS_NAME as goodsName,p.GOODS_CAT_ID as categoryId,
    p.MKTPRICE as retailPrice,p.DELIVERY_PRICE as wholeSalePrice,p.BUY_COUNT as orderAmount,
    p.SUPPLIER_ID as supplierId,t.FILE_URL as imageUrl,p.CREATE_DATE from
    (SELECT pg.GOODS_ID ,pg.GOODS_NAME ,pg.GOODS_CAT_ID ,
    pg.MKTPRICE ,pgpr.DELIVERY_PRICE ,pg.BUY_COUNT , pg.SUPPLIER_ID ,pb.CREATE_DATE
    FROM PROD_GOODS_PRODUCT_REL pgpr ,PROD_GOODS pg ,PROD_BRAND pb,prod_goods_target_rel pgtr
    WHERE pgpr.GOODS_ID=pg.GOODS_ID
    AND pb.BRAND_ID = pg.BRAND_ID
    AND pg.GOODS_ID = pgtr.GOODS_ID
    AND pg.MARKET_ENABLE='1'
    AND pg.TARGET_TYPE='2'
    <if test="null!=req.brandId and ''!=req.brandId">
      and pb.brand_id = #{req.brandId}
    </if>
    <if test="req.productIdList != null and req.productIdList.size>0">
      and pgpr.PRODUCT_ID in
      <foreach item="item" index="index" open="(" separator="," close=")" collection="req.productIdList">
        #{item}
      </foreach>
    </if>
    <if test="null!=req.supplierId and ''!=req.supplierId">
      and  pgtr.TARGET_ID=#{req.supplierId}
    </if>
    ) p
    LEFT JOIN (select pc.TARGET_ID,pc.FILE_URL from prod_file pc where pc.SUB_TYPE='6' and pc.FILE_TYPE='1'
    and pc.TARGET_TYPE='1') t on t.TARGET_ID = p.GOODS_ID
    ) q
    ORDER BY q.CREATE_DATE DESC
  </select>
</mapper>