<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.goods2b.mapper.GoodsProductRelMapper">

<sql id="allFields">
    t.GOODS_PRODUCT_REL_ID 
    ,t.GOODS_ID 
    ,t.PRODUCT_ID 
    ,t.SUPPLY_NUM 
    ,t.DELIVERY_PRICE 
    ,t.MIN_NUM 
    ,t.MAX_NUM 
    ,t.SPEC_NAME 
</sql>

    <select id="getLowestPriceByGoodsId" parameterType="java.lang.String" resultType="java.lang.Double">
        select MIN(p.COST) from prod_product p
        inner join prod_goods_product_rel pr on p.PRODUCT_ID=pr.PRODUCT_ID
        where pr.GOODS_ID = #{goodsId}
    </select>

    <sql id="qryGoodsByProductIdFields">
        pg.goods_id,
        pg.goods_name,
        pg.sn,
        pg.mktprice,
        pg.selling_point,
        pgp.delivery_price,
        pgp.spec_name,
        pp.unit_name
    </sql>

    <select id="qryGoodsByProductId" parameterType="java.lang.String"
            resultType="com.iwhalecloud.retail.goods2b.dto.GoodsDetailDTO">
        select <include refid="qryGoodsByProductIdFields"/>
        from prod_goods_product_rel pgp
        left join prod_goods pg on pgp.goods_id=pg.goods_id
        left join prod_product pp on pgp.product_id=pp.product_id
        where pgp.product_id = #{productId}
    </select>

    <select id="qryGoodsByProductIdAndGoodsId" parameterType="java.lang.String"
            resultType="com.iwhalecloud.retail.goods2b.dto.GoodsDetailDTO">
        select
        pg.goods_id,pg.goods_name,pg.mktprice,pg.sn,pg.is_advance_sale,
        pgp.delivery_price,pgp.min_num,pgp.max_num, pgp.spec_name,
        band.name brand_name
        from  prod_goods_product_rel pgp ,prod_goods pg
        LEFT JOIN PROD_BRAND band ON band.brand_id= pg.brand_id
        where pgp.goods_id = pg.goods_id
        and pgp.product_id = #{productId} and pg.goods_id = #{goodsId}
    </select>

    <select id="qryActivityGoodsId" parameterType="com.iwhalecloud.retail.goods2b.dto.req.ActivityGoodsReq"
            resultType="com.iwhalecloud.retail.goods2b.dto.ActivityGoodsDTO">
        select DISTINCT p.GOODS_ID as goodsId,p.GOODS_NAME as goodsName,p.GOODS_CAT_ID as categoryId,p.CAT_PATH as parCategoryId,
        p.MKTPRICE as retailPrice,p.DELIVERY_PRICE as wholeSalePrice,p.BUY_COUNT as orderAmount,
        p.SUPPLIER_ID as supplierId, t.FILE_URL as imageUrl from
        (
        SELECT pg.GOODS_ID ,pg.GOODS_NAME ,pg.GOODS_CAT_ID ,pc.CAT_PATH ,
        pg.MKTPRICE ,pgpr.DELIVERY_PRICE ,pg.BUY_COUNT ,
        pg.SUPPLIER_ID
        FROM PROD_GOODS_PRODUCT_REL pgpr ,PROD_GOODS pg , PROD_CAT pc, prod_goods_region_rel pgrr
        WHERE pgpr.GOODS_ID=pg.GOODS_ID
        AND pg.GOODS_CAT_ID=pc.CAT_ID
        AND pg.GOODS_ID = pgrr.GOODS_ID
        AND pg.TARGET_TYPE='1'
        AND pgpr.PRODUCT_ID in
        <foreach item="item" index="index" open="(" separator="," close=")" collection="req.productIdList">
            #{item}
        </foreach>
        <if test="null!=req.lanId and ''!=req.lanId">
            and pgrr.LAN_ID = #{req.lanId}
        </if>
        <if test="null!=req.regionId and ''!=req.regionId">
            and (pgrr.REGION_ID = #{req.regionId} or pgrr.REGION_ID = pgrr.LAN_ID)
        </if>
        ) p
        LEFT JOIN (select pc.TARGET_ID,pc.FILE_URL from prod_file pc where pc.SUB_TYPE='6' and pc.FILE_TYPE='1'
        and pc.TARGET_TYPE='1') t on t.TARGET_ID = p.GOODS_ID
        UNION ALL
        select DISTINCT p.GOODS_ID as goodsId,p.GOODS_NAME as goodsName,p.GOODS_CAT_ID as categoryId,p.CAT_PATH as parCategoryId,
        p.MKTPRICE as retailPrice,p.DELIVERY_PRICE as wholeSalePrice,p.BUY_COUNT as orderAmount,
        p.SUPPLIER_ID as supplierId, t.FILE_URL as imageUrl from
        (
        SELECT pg.GOODS_ID ,pg.GOODS_NAME ,pg.GOODS_CAT_ID ,pc.CAT_PATH ,
        pg.MKTPRICE ,pgpr.DELIVERY_PRICE ,pg.BUY_COUNT ,
        pg.SUPPLIER_ID,pg.TARGET_TYPE
        FROM PROD_GOODS_PRODUCT_REL pgpr ,PROD_GOODS pg , PROD_CAT pc, prod_goods_target_rel pgtr
        WHERE pgpr.GOODS_ID=pg.GOODS_ID
        AND pg.GOODS_CAT_ID=pc.CAT_ID
        AND pg.GOODS_ID = pgtr.GOODS_ID
        AND pg.TARGET_TYPE='2'
        AND pgpr.PRODUCT_ID in
        <foreach item="item" index="index" open="(" separator="," close=")" collection="req.productIdList">
            #{item}
        </foreach>
        <if test="null!=req.merchantId and ''!=req.merchantId">
            and pgtr.TARGET_ID = #{req.merchantId}
        </if>
        ) p
        LEFT JOIN (select pc.TARGET_ID,pc.FILE_URL from prod_file pc where pc.SUB_TYPE='6' and pc.FILE_TYPE='1'
        and pc.TARGET_TYPE='1') t on t.TARGET_ID = p.GOODS_ID
    </select>

    <select id="listGoodsBySupplierId" parameterType="java.lang.String"
            resultType="java.lang.String">
                SELECT
            t1.GOODS_ID
        FROM
            prod_goods t1,
            prod_goods_product_rel t2
        WHERE
            t1.GOODS_ID = t2.GOODS_ID
        AND t1.SUPPLIER_ID = #{supplierId}
        AND PRODUCT_ID = #{productId}
    </select>
    
    <select id="insertProdFile" parameterType="com.iwhalecloud.retail.goods2b.dto.req.ProdFileReq">
       insert into PROD_FILE(
         FILE_ID,
         FILE_TYPE,
         TARGET_TYPE,
         TARGET_ID,
         SUB_TYPE,
         FILE_URL,
         CREATE_DATE
       ) values (
       #{req.fileId},
       #{req.fileType},
       #{req.targetType},
       #{req.targetId},
       #{req.subType},
       #{req.fileUrl},
       #{req.createDate}
       			)
    </select>
    
    <select id="selectProdFileId" resultType="java.lang.String">
       SELECT (MAX(file_id)+1) AS fileId FROM prod_file
    </select>
    
    <select id="delProdFileByTargetId" parameterType="java.lang.String">
		DELETE FROM prod_file WHERE target_id = #{goodsId} AND sub_type IN ('8','9','10')
	</select>
    
</mapper>