<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.goods2b.mapper.ProdFileMapper" >
  <resultMap id="BaseResultMap" type="com.iwhalecloud.retail.goods2b.entity.ProdFile" >
    <constructor >
      <idArg column="FILE_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="FILE_TYPE" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TARGET_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CHILD_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="FILE_URL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="THREE_DIMENSIONS_URL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="THUMBNAIL_URL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="DATE" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    FILE_ID, FILE_TYPE, TARGET_TYPE, CHILD_TYPE, FILE_URL, THREE_DIMENSIONS_URL, THUMBNAIL_URL, 
    CREATE_TIME
  </sql>


	<select id="queryGoodsImageHD" resultType="com.iwhalecloud.retail.goods2b.dto.ProdFileDTO"
            parameterType="java.lang.String">
        select file_id as fileId,
	        file_Type as fileType,
	        target_Type as targetType,
	        target_Id as targetId,
	        sub_Type as subType,
	        file_Url as fileUrl,
	        three_Dimensions_Url as threeDimensionsUrl,
	        thumbnail_Url as thumbnailUrl,
	        create_Date as createDate
        from prod_file
        where target_Id = #{goodsId}
        and target_Type = '1'
        and sub_Type in ('8','10') ORDER BY sub_type limit 1
    </select>

	<select id="queryGoodsImageHDdetail" resultType="com.iwhalecloud.retail.goods2b.dto.ProdFileDTO"
            parameterType="java.lang.String">
        select file_id as fileId,
	        file_Type as fileType,
	        target_Type as targetType,
	        target_Id as targetId,
	        sub_Type as subType,
	        file_Url as fileUrl,
	        three_Dimensions_Url as threeDimensionsUrl,
	        thumbnail_Url as thumbnailUrl,
	        create_Date as createDate
        from prod_file
        where target_Id = #{goodsId}
        and target_Type = '1'
        and sub_Type in ('9','10') ORDER BY sub_type 
    </select>
    
    <select id="queryGoodsImage" resultType="com.iwhalecloud.retail.goods2b.dto.ProdFileDTO"
            parameterType="java.lang.String">
        select file_id as fileId,
	        file_Type as fileType,
	        target_Type as targetType,
	        target_Id as targetId,
	        sub_Type as subType,
	        file_Url as fileUrl,
	        three_Dimensions_Url as threeDimensionsUrl,
	        thumbnail_Url as thumbnailUrl,
	        create_Date as createDate
        from prod_file
        where target_Id = #{goodsId}
        and target_Type = '1'
        and sub_Type not in ('8','9','10') ORDER BY sub_type
    </select>
    

</mapper>