<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.goods2b.mapper.TagRelMapper" >
  <resultMap id="BaseResultMap" type="com.iwhalecloud.retail.goods2b.entity.TagRel" >
    <constructor >
      <idArg column="REL_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TAG_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PRODUCT_BASE_ID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    REL_ID, TAG_ID, PRODUCT_BASE_ID, PRODUCT_ID
  </sql>

  <!-- listAll -->
  <select id="listAll" resultType="com.iwhalecloud.retail.goods2b.entity.TagRel">
    SELECT <include refid="Base_Column_List" />
    FROM prod_tag_rel
    WHERE 1 = 1
  </select>

  <insert id="batchAddTagRel" parameterType="java.util.List" useGeneratedKeys="true">
    insert into prod_tag_rel (REL_ID, TAG_ID, PRODUCT_BASE_ID)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.relId},#{item.tagId},#{item.productBaseId})
    </foreach>
  </insert>

  <sql id="relTagColoun">
    ptr.TAG_ID, ptr.PRODUCT_BASE_ID, ptr.PRODUCT_ID
  </sql>
  <select id="listTagRel" parameterType="com.iwhalecloud.retail.goods2b.dto.req.TagRelListReq"
          resultType="com.iwhalecloud.retail.goods2b.dto.resp.TagRelListResp">
      SELECT <include refid="relTagColoun" />
      FROM prod_tag_rel ptr
      WHERE 1 = 1
      <if test="null!=relTagIdList and relTagIdList.size > 0">
          AND ptr.TAG_ID in
          (
          SELECT TAG_ID FROM prod_tags pt WHERE
          pt.REL_TAG_ID in
          <foreach item="item" index="index" open="(" separator="," close=")" collection="relTagIdList">
              #{item}
          </foreach>
          )
      </if>
      <if test="null!=tagId and ''!= tagId">
          AND ptr.TAG_ID = #{tagId}
      </if>
      <if test="null!=productId and ''!= productId">
          AND ptr.PRODUCT_ID = #{productId}
      </if>
      <if test="null!=productBaseId and ''!= productBaseId">
          AND ptr.PRODUCT_BASE_ID = #{productBaseId}
      </if>

  </select>
</mapper>