<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.goods2b.mapper.TypeMapper">

    <sql id="allFields">
        t.TYPE_ID
        ,t.TYPE_NAME
        ,t.TYPE_ORDER
        ,t.IS_DELETED
        ,t.CREATE_STAFF
        ,t.CREATE_DATE
        ,t.UPDATE_STAFF
        ,t.UPDATE_DATE
        ,t.SOURCE_FROM
    </sql>

</mapper>