<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order.mapper.OrderItemMapper">
    <insert id="saveOrderItem" parameterType="list">
        INSERT INTO ord_order_items(
        item_id,order_id,goods_id,spec_id,num,name,price,lv_id,coupon_price,
        item_type,product_id,spec_desc,image,is_chrr
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.itemId},#{item.orderId},#{item.goodsId},#{item.specId},#{item.num},#{item.name,jdbcType=VARCHAR},#{item.price},#{item.lvId},#{item.couponPrice},
            #{item.itemType,jdbcType=VARCHAR},#{item.productId}, #{item.specDesc,jdbcType=VARCHAR},#{item.image,jdbcType=VARCHAR},#{item.isChrr}
            )
        </foreach>
    </insert>

    <select id="selectOrderItemByOrderId" resultType="com.iwhalecloud.retail.order.dto.model.OrderItemModel"
            parameterType="string">
        SELECT * FROM ord_order_items WHERE  order_id =#{orderID}
    </select>
    <select id="selectOrderItemByOrderIds" resultType="com.iwhalecloud.retail.order.dto.model.OrderItemModel"
            parameterType="list">
        SELECT * FROM ord_order_items WHERE  order_id IN
        <foreach collection="list" item="item" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <update id="updateDeliverGoodsNum" parameterType="com.iwhalecloud.retail.order.model.OrderUpdateAttrEntity">
        UPDATE ord_order_ITEMS SET SHIP_NUM= NUM WHERE ORDER_ID=#{orderId}
    </update>
</mapper>