<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order.mapper.OrderMapper">

    <insert id="saveOrder" parameterType="com.iwhalecloud.retail.order.model.OrderEntity">
        INSERT INTO ord_order(
        order_id,member_id,shipping_type,create_time,ship_name,ship_addr,ship_zip,ship_email,
        ship_mobile,ship_tel,goods_amount,order_amount,remark,userid,order_type,
        batch_id,pay_type,goods_num,lv_id,coupon_code,BIND_TYPE,coupon_desc,SOURCE_SHOP_NAME,
        order_coupon,is_delete,shop_id,shop_name
        )
        VALUES (#{orderId},#{memberId},#{shippingType},now(),#{shipName,jdbcType=VARCHAR},#{shipAddr,jdbcType=VARCHAR},#{shipZip,jdbcType=VARCHAR},#{shipEmail,jdbcType=VARCHAR},
        #{shipMobile,jdbcType=VARCHAR},#{shipTel,jdbcType=VARCHAR},#{goodsAmount},#{orderAmount},#{remark,jdbcType=VARCHAR},#{userId},#{orderType},
        #{batchId},#{payType},#{goodsNum},#{lvId},#{couponCode,jdbcType=VARCHAR},#{bindType},#{couponDesc,jdbcType=VARCHAR},#{sourceShopName,jdbcType=VARCHAR},
        #{orderCoupon,jdbcType=VARCHAR},0,#{shopId,jdbcType=VARCHAR},#{shopName,jdbcType=VARCHAR}
        )
    </insert>

    <select id="getOrderById" parameterType="string"
            resultType="com.iwhalecloud.retail.order.dto.model.OrderModel">
        select * from ord_order WHERE order_id = #{orderId}
    </select>

    <select id="selectOrderListById" parameterType="string"
            resultType="com.iwhalecloud.retail.order.dto.model.OrderModel">
        select * from ord_order WHERE order_id IN
        <foreach collection="list" item="item" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <select id="selectMemberOrderList" resultType="com.iwhalecloud.retail.order.dto.model.OrderModel"
            parameterType="com.iwhalecloud.retail.order.dto.resquest.SelectOrderRequest">
        SELECT * FROM  ord_order
        WHERE  1=1
        <choose>
            <when test="order.orderStatus !=null and order.orderStatus!=''">
                AND status=#{order.orderStatus}
            </when>
            <otherwise>
                AND status IN (2,4,5,6,7,-10)
            </otherwise>
        </choose>
        <if test="order.memberId !=null and order.memberId !=''">
            AND member_id =#{order.memberId}
        </if>
        <if test="order.startTime !=null and order.startTime !=''">
            AND create_time >= #{order.startTime}
        </if>
        <if test="order.endTime !=null and order.endTime !=''">
            AND #{order.endTime} >= create_time
        </if>
        order by create_time desc
    </select>

    <select id="selectManagerOrderList" resultType="com.iwhalecloud.retail.order.dto.model.OrderModel"
            parameterType="com.iwhalecloud.retail.order.dto.resquest.SelectOrderRequest">
        SELECT * FROM  ord_order
        WHERE  1=1
        <choose>
            <when test="order.orderStatus !=null and order.orderStatus!=''">
                AND status=#{order.orderStatus}
            </when>
            <otherwise>
                AND status IN (2,4,5,6,7,-10)
            </otherwise>
        </choose>
        <if test="order.memberId !=null and order.memberId !=''">
            AND member_id =#{order.memberId}
        </if>
        <if test="order.startTime !=null and order.startTime !=''">
            AND create_time >= #{order.startTime}
        </if>
        <if test="order.endTime !=null and order.endTime !=''">
            AND #{order.endTime} >= create_time
        </if>
        <if test="order.supplyId !=null and order.supplyId !=''">
          and  ship_user_id=#{order.supplyId}
        </if>
        <if test="order.userId !=null and order.userId !=''">
           and userid=#{order.userId}
        </if>
        <if test="order.orderId !=null and order.orderId !=''">
            and order_id=#{order.orderId}
        </if>
        order by create_time desc
    </select>

	<!--订单表写入揽装录入ID-->
    <update id="updateRecommdId" parameterType="String">
        UPDATE ord_order
        SET RECOMMEND_ID =#{recommendIds}
        WHERE ORDER_ID=#{orderId}
    </update>
</mapper>