<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.rights.mapper.CouponInstDctItemMapper">

<sql id="allFields">
    t.DCT_ITEM_ID 
    ,t.COUPON_INST_USE_ID 
    ,t.COUPON_INST_ID 
    ,t.OBJ_TYPE 
    ,t.OBJ_ID 
    ,t.COUPON_AMOUNT 
    ,t.STATUS_CD 
    ,t.STATUS_DATE 
    ,t.CREATE_STAFF 
    ,t.CREATE_DATE 
    ,t.UPDATE_STAFF 
    ,t.UPDATE_DATE 
    ,t.REMARK 
</sql>

</mapper>