<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.rights.mapper.MktResTypeMapper">

<sql id="allFields">
    t.MKT_RES_TYPE_ID 
    ,t.MKT_RES_TYPE_NBR 
    ,t.MKT_RES_TYPE_NAME 
    ,t.MKT_RES_TYPE_DESC 
    ,t.ORDERED_FLAG 
    ,t.PAR_TYPE_ID 
    ,t.MANAGE_REGION_ID 
    ,t.EFF_DATE 
    ,t.EXP_DATE 
    ,t.STATUS_DATE 
    ,t.STATUS_CD 
    ,t.CREATE_STAFF 
    ,t.CREATE_DATE 
    ,t.UPDATE_STAFF 
    ,t.UPDATE_DATE 
    ,t.REMARK 
</sql>

</mapper>