<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.report.mapper.ReportStInvCityMapper">

    <select id="listStInvCity" parameterType="com.iwhalecloud.retail.report.dto.request.ReportStInvCityDaoReq"
            resultType="com.iwhalecloud.retail.report.dto.request.RptPartnerOperatingDay">
		SELECT
			a.PRODUCT_NAME,
			a.PRODUCT_BASE_NAME,
			a.PRODUCT_TYPE,
			a.BRAND_NAME,
			a.PRICE_LEVEL,
			a.TOTAL_IN_NUM,
			a.TOTAL_OUT_NUM,
			a.STOCK_NUM,
			a.PURCHASE_NUM,
			a.MANUAL_NUM,
			a.SELL_NUM,
			a.UNCONTRACT_NUM,
			a.CONTRACT_NUM,
			a.REGISTER_NUM,
			a.RETURN_NUM,
			a.WEEK_AVG_SELL_NUM
		FROM RPT_PARTNER_OPERATING_DAY a
		LEFT JOIN par_merchant par ON par.merchant_id = a.PARTNER_ID
		WHERE 1=1
		<if test="req.dateStart!=null and req.dateStart!=''">
		and str_to_date(a.DATE,'%Y-%m-%d') &gt;= str_to_date(#{req.dateStart}, '%Y-%m-%d')
		</if>
		<if test="req.dateStart!=null and req.dateStart!=''">
				and str_to_date(a.DATE,'%Y-%m-%d') &lt;= str_to_date(#{req.dateEnd}, '%Y-%m-%d')
		</if>
		<if test="req.lanIdList !=null and req.lanIdList.size()>0">
	          and a.CITY_ID in
	          <foreach collection="req.lanIdList" open="(" item="item" index="index" separator="," close=")">
	              #{item}
	          </foreach>
	    </if>
	    <if test="req.orgName!=null and req.orgName.size()>0">
		  	and 
		  	<foreach collection="req.orgName" open="(" item="item" index="index" separator=" or " close=")">
		  		INSTR( par.PAR_CRM_ORG_PATH_CODE, #{item}) 
		  	</foreach>
		  </if> 
		 group by a.CITY_ID,SUBSTRING_INDEX(par.PAR_CRM_ORG_PATH_CODE,'.',4)
  </select> 
            
</mapper>
