<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.report.mapper.ReportOrderMapper">
  
    <select id="ListReportOrder" parameterType="com.iwhalecloud.retail.report.dto.request.ReportOrderDaoReq"
            resultType="com.iwhalecloud.retail.report.dto.response.ReportOrderResp">
            SELECT 
	 b.product_name AS productName,
	 d.UNIT_TYPE AS unitType,
	 e.type_name AS typeName,
	 b.brand_name AS brandName,
	 c.attr_value1 AS attrValue1,
	 c.attr_value2 AS attrValue2,
	 c.attr_value3 AS attrValue3,
	 a.order_id AS orderId,
	 a.STATUS AS STATUS,
	 a.source_from AS sourceFrom,
	 a.ORDER_CAT orderCat,
	 a.ORDER_TYPE AS orderType,
	 a.PAYMENT_TYPE AS paymentType,
	 b.sn AS sn,
	 b.num AS num,
	 b.price AS price,
	 (b.num*b.price) AS totalMoney,
	 a.CREATE_TIME AS createTime,
	 a.PAY_TIME AS payTime,
	 a.RECEIVE_TIME AS receiveTime,
	 GROUP_CONCAT(l.name) AS activeName,
	 k.PROMOTION_TYPE AS couponType,
	 k.DISCOUNT AS couponMoney,
	 (b.num*k.DISCOUNT) AS totalCouponMoney,
	 a.SUPPLIER_NAME AS supplierName,
	 a.SUPPLIER_ID AS supplierCode,
	 a.USER_NAME AS merchantName,
	 par.MERCHANT_CODE AS merchantCode,
	 par.BUSINESS_ENTITY_NAME AS businessEntityName,
	 par.LAN_ID AS lanId,
	 so.org_name as orgName,
	 a.create_time,
	 b.item_id AS itemId
FROM 
	 ord_order a
	 LEFT JOIN par_merchant par ON par.merchant_code = a.user_id
	 LEFT JOIN sys_organization so ON par.par_crm_org_id = so.org_id
	 ,ord_order_items b
	 LEFT JOIN prod_product c ON b.PRODUCT_ID=c.PRODUCT_ID
	 LEFT JOIN prod_product_base d ON c.product_base_id= d.product_base_id
	 LEFT JOIN prod_type e ON d.type_id = e.type_id
	 LEFT OUTER JOIN ORD_PROMOTION k ON b.item_id = k.order_item_id
	 LEFT OUTER JOIN act_marketing_activity l ON k.MKT_ACT_ID = l.id
	 
			WHERE 
				 a.order_id = b.order_id
		  <if test="req.createTimeStart!=null and req.createTimeStart!=''">
		    	and a.CREATE_TIME &gt;= str_to_date(#{req.createTimeStart}, '%Y-%m-%d')
		  </if>
		  <if test="req.createTimeEnd!=null and req.createTimeEnd!=''">
		      and a.CREATE_TIME &lt;= str_to_date(#{req.createTimeEnd}, '%Y-%m-%d')
		  </if>
		  <if test="req.outTimeStart!=null and req.outTimeStart!=''">
		      and a.RECEIVE_TIME &gt;= str_to_date(#{req.outTimeStart}, '%Y-%m-%d')
		  </if>
		  <if test="req.outTimeEnd!=null and req.outTimeEnd!=''">
		      and a.RECEIVE_TIME &lt;= str_to_date(#{req.outTimeEnd}, '%Y-%m-%d')
		  </if>	 
		  <if test="req.status!=null and req.status !=''">
		     and a.status=#{req.status}
		  </if>	
		  <if test="req.orderId!=null and req.orderId !=''">
		     and a.order_id = #{req.orderId}
		  </if>	
		  <if test="req.lanIdName !=null and lanIdName.size > 0" >
		      and par.LAN_ID in
		      <foreach item="item" index="index" open="(" separator="," close=")" collection="req.lanIdName">
		        #{item}
		      </foreach>
		  </if>
		  <if test="req.orgName!=null and req.orgName!=''">
		  	and INSTR( so.path_code, #{req.orgName}) 
		  </if> 
		  <if test="req.orderCat!=null and req.orderCat !=''">
	         and a.ORDER_CAT =#{req.orderCat}
	      </if>	 
		  <if test="req.suplierName!=null and req.suplierName!=''">
		    and a.SUPPLIER_NAME like CONCAT(CONCAT('%',#{req.suplierName}),'%')
		  </if>
		  <if test="req.suplierCode!=null and req.suplierCode!=''">
		    and a.SUPPLIER_CODE = #{req.suplierCode}
		  </if>
		  <if test="req.merchantName!=null and req.merchantName!=''">
		    and a.USER_NAME like CONCAT(CONCAT('%',#{req.merchantName}),'%')
		  </if>
		  <if test="req.merchantCode!=null and req.merchantCode!=''">
		    and par.MERCHANT_CODE = #{req.merchantCode}
		  </if>	 
		  <if test="req.businessEntityName!=null and req.businessEntityName!=''">
		    and par.BUSINESS_ENTITY_NAME like CONCAT(CONCAT('%',#{req.businessEntityName}),'%')
		  </if>
		  <if test="req.paymentType!=null and req.paymentType!=''">  
		     and a.payment_type=#{req.paymentType}
		  </if>
		  <if test="req.payType!=null and req.payType!=''">  
		     and a.pay_type=#{req.payType}
		  </if>
		  <if test="req.brandName!=null and req.brandName!=''">
		    and d.BRAND_ID=#{req.brandName}
		  </if>
		  <if test="req.productName!=null and req.productName!=''">
		    and b.product_name like CONCAT(CONCAT('%',#{req.productName}),'%')
		  </if>
		  <if test="req.unitType!=null and req.unitType!=''">
		    and d.unit_type=#{req.unitType}
		  </if>
		  <if test="req.productBaseId!=null and req.productBaseId!=''">
		    and d.PRODUCT_BASE_ID=#{req.productBaseId}
		  </if>
		  <if test="req.sn!=null and req.sn!=''">
		    and b.SN = #{req.sn}
		  </if>
		  <if test="req.orderType!=null and req.orderType!=''">
		    and a.order_type = #{req.orderType}
		  </if>
		 <if test="req.activeName!=null and req.activeName!=''">
	 		and l.name LIKE CONCAT(CONCAT('%',#{req.activeName}),'%')
		 </if>
		 <if test="req.typeName!=null and req.typeName!='' and req.typeName!='-1'">
	 		and d.type_id = #{req.typeName}
		 </if>
				GROUP BY b.item_id
				ORDER BY a.create_time DESC        
    </select>
    
    <select id="ListReportOrderNbr" parameterType="java.lang.String"
            resultType="com.iwhalecloud.retail.report.dto.response.ReportOrderNbrResp">
            SELECT 
            	c.UNIT_NAME,
            	b.res_nbr,
            	a.create_time,
            	a.status state
            FROM 
            	ORD_ORDER a,
            	ORD_ORDER_ITEM_DETAIL b  
            LEFT JOIN prod_product c ON c.product_id=b.product_id
            WHERE  
            	a.order_id=b.order_id
		  <if test="orderId!=null and orderId!=''">
			and a.order_id = #{orderId}
		  </if>
	 </select>
	 
	 <select id="ListReportOrderNbr3" parameterType="com.iwhalecloud.retail.report.dto.request.ReportOrderNbrDaoReq"
	            resultType="com.iwhalecloud.retail.report.dto.response.ReportOrderNbrResp">
	       SELECT 
            	c.UNIT_NAME,
            	b.res_nbr,
            	a.create_time,
            	a.status state
            FROM 
            	ORD_ORDER a,
            	ORD_ORDER_ITEM_DETAIL b  
            LEFT JOIN prod_product c ON c.product_id=b.product_id
            WHERE  
            	a.order_id=b.order_id
		  <if test="orderId!=null and orderId!=''">
			and a.order_id = #{orderId}
		  </if>
	 </select>
 
</mapper>