<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.report.mapper.ReportDataInfoMapper">
  
    <select id="getStorePurchaserReport" parameterType="com.iwhalecloud.retail.report.dto.request.ReportStorePurchaserReq"
            resultType="com.iwhalecloud.retail.report.dto.response.ReportStorePurchaserResq">
		SELECT
			a.PRODUCT_NAME,
			a.PRODUCT_BASE_NAME,
			a.PRODUCT_TYPE,
			a.BRAND_NAME,
			a.PRICE_LEVEL,
			a.TOTAL_IN_NUM,
			a.TOTAL_OUT_NUM,
			a.STOCK_NUM,
			a.PURCHASE_NUM,
			a.MANUAL_NUM,
			a.SELL_NUM,
			a.UNCONTRACT_NUM,
			a.CONTRACT_NUM,
			a.REGISTER_NUM,
			a.RETURN_NUM,
			a.WEEK_AVG_SELL_NUM
		FROM RPT_PARTNER_OPERATING_DAY a
		WHERE 1=1
		<if test="req.dateStart!=null and req.dateStart!=''">
		and str_to_date(a.DATE,'%Y-%m-%d') &gt;= str_to_date(#{req.dateStart}, '%Y-%m-%d')
		</if>
		<if test="req.dateStart!=null and req.dateStart!=''">
				and str_to_date(a.DATE,'%Y-%m-%d') &lt;= str_to_date(#{req.dateEnd}, '%Y-%m-%d')
		</if>
		<if test="req.lanIdList !=null and req.lanIdList.size()>0">
	          and a.CITY_ID in
	          <foreach collection="req.lanIdList" open="(" item="item" index="index" separator="," close=")">
	              #{item}
	          </foreach>
	    </if>
	    <if test="req.productName!=null and req.productName!=''">
			and a.PRODUCT_NAME like CONCAT(CONCAT('%',#{req.productName}),'%')
		</if>
		<if test="req.productBaseName!=null and req.productBaseName!=''">
			and a.PRODUCT_BASE_ID=#{req.productBaseName}
		</if>
		<if test="req.productType!=null and req.productType!='' and req.productType!='-1'">  
			and a.PRODUCT_TYPE=#{req.productType}
		</if>
		<if test="req.brandName!=null and req.brandName!=''">
			and a.brand_id=#{req.brandName}
		</if>
		group by a.BUSINESS_ENTITY_ID,a.PRODUCT_BASE_ID
  </select>
  
  <select id="getMyMktResStoreId" parameterType="String" resultType="String">

  		SELECT s.MKT_RES_STORE_ID
	        FROM mkt_res_store s,mkt_res_store_obj_rel r WHERE 1 = 1
	        AND s.MKT_RES_STORE_ID = r.MKT_RES_STORE_ID
	        AND r.OBJ_ID = #{relCode}
	        AND s.STORE_SUB_TYPE = '1300'
  </select>
</mapper>
