<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.report.mapper.ReportMapper">

      <select id="reportDeSaleExport" parameterType="com.iwhalecloud.retail.report.dto.request.ReportDeSaleDaoReq"
            resultType="com.iwhalecloud.retail.report.dto.response.ReportDeSaleDaoResq">	
            		<include refid="reportDeSale_prefix"></include>
  </select>

  
    <select id="ListReportDeSale" parameterType="com.iwhalecloud.retail.report.dto.request.ReportDeSaleDaoReq"
            resultType="com.iwhalecloud.retail.report.dto.response.ReportDeSaleDaoResq">
				<include refid="reportDeSale_prefix"></include>
  </select>
  
    
  <sql id="reportDeSale_prefix" >
    SELECT temp2.*,
		CASE WHEN (temp2.turnover_rate)&gt;= 10 THEN '充裕'
		WHEN (temp2.turnover_rate) &gt;= 5 &amp;&amp; (temp2.turnover_rate)&lt;10 THEN '缺货'
		ELSE '严重缺货' END AS stock_warning 
	FROM (
		SELECT temp1.*,
			temp1.stock_num/temp1.week_avg_sell_num AS turnover_rate 
		FROM (
			SELECT a.supplier_id,a.product_base_id,
			    a.supplier_name,
			    a.supplier_code,
			    a.product_name,
			    a.product_base_name,
			    b.type_name,
			    a.brand_name,
			    a.price_level,
			    SUM(a.purchase_num+a.trans_in_num+a.manual_num) AS totalru,
			    SUM(a.sell_num+a.trans_out_num) AS totalchu,
			    a.stock_num,
			    a.purchase_num,
			    a.purchase_amount,
			    a.manual_num,
			    a.trans_in_num,
			    a.sell_num,
			    a.sell_amount,
			    a.trans_out_num,
			    a.return_num,
			    SUM(c.sell_num)/7 AS week_avg_sell_num,
			    a.stock_amount ,
			    a.city_id ,
			    a.type_id ,
			    a.brand_id,
			    a.item_date
			FROM 
			rpt_supplier_operating_day a
				LEFT JOIN prod_type b ON a.type_id = b.type_id
			LEFT JOIN rpt_supplier_operating_day c ON a.supplier_id=c.supplier_id AND a.product_base_id=c.product_base_id AND c.item_date &gt;=DATE_SUB(CURDATE(), INTERVAL 7 DAY) 
			GROUP BY a.supplier_id,a.product_base_id
			) temp1 
		)temp2
	where 1=1
	<if test="req.itemDateStart!=null and req.itemDateStart!=''">
		and str_to_date(temp2.item_date,'%Y-%m-%d')  &gt;= str_to_date(#{req.itemDateStart}, '%Y-%m-%d')
	</if>
	<if test="req.itemDateEnd!=null and req.itemDateEnd!=''">
		and str_to_date(temp2.item_date,'%Y-%m-%d') &lt;= str_to_date(#{req.itemDateEnd}, '%Y-%m-%d')
	</if>
	<if test="req.lanIdList !=null and req.lanIdList.size()>0">
          and temp2.city_id in
          <foreach collection="req.lanIdList" open="(" item="item" index="index" separator="," close=")">
              #{item}
          </foreach>
    </if>
    <if test="req.productName!=null and req.productName!=''">
		and temp2.product_name like CONCAT(CONCAT('%',#{req.productName}),'%')
	</if>      
	<if test="req.typeId!=null and req.typeId!='' and req.typeId!='-1'">
		and temp2.type_id = #{req.typeId}
	</if>
	<if test="req.brandId!=null and req.brandId!=''">
		and temp2.brand_id = #{req.brandId}
	</if>
	<if test="req.productBaseName!=null and req.productBaseName!=''">
		and temp2.product_base_name like CONCAT(CONCAT('%',#{req.productBaseName}),'%')
	</if>
	<if test="req.supplierName!=null and req.supplierName!=''">
		and temp2.supplier_name like CONCAT(CONCAT('%',#{req.supplierName}),'%')
	</if>
	<if test="req.supplierCode!=null and req.supplierCode!=''">
		and temp2.supplier_code = #{req.supplierCode}
	</if>
	<if test="req.priceLevel!=null and req.priceLevel!=''">
		and temp2.price_level = #{req.priceLevel}
	</if>
	<if test="req.stockWarning!=null and req.stockWarning!=''">
		and temp2.stock_warning = #{req.stockWarning}
	</if>
	</sql>
  
</mapper>
