<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.report.mapper.ReportCodeStateMapper">
  
    <select id="getCodeStatementsReport" parameterType="com.iwhalecloud.retail.report.dto.request.ReportCodeStatementsReq"
            resultType="com.iwhalecloud.retail.report.dto.response.ReportCodeStatementsResp">
	SELECT a.mkt_res_inst_nbr,
	a.mkt_res_store_id mktResStoreId,
	a.status_cd storageType,
	a.mkt_res_inst_type,
	a.source_type,
	a.product_type,
	a.brand_name brandId,
	a.product_id,
	a.product_name,
	a.product_code,
	a.order_id,
	a.create_time,
	a.supplier_name,
	a.supplier_code,
	a.partner_name,
	a.partner_code,
	a.business_entity_name,
	a.city_id,
	(SELECT region_name FROM sys_common_region WHERE region_id =a.county_id) county_id,
	a.receive_time,
	a.out_time,
	a.stock_age,
	(case when a.stock_age &gt;30 and a.stock_age &lt;60 then '1' else '0' END) day30,
	(case when a.stock_age &gt;60 and a.stock_age &lt;90 then '1' else '0' END) day60,
	(case when a.stock_age &gt;90  then '1' else '0' END) day90,
	a.dest_merchant_id,
	a.dest_city_id,
	(SELECT region_name FROM sys_common_region WHERE region_id =a.dest_county_id) dest_county_id,
	a.self_reg_status
	FROM 
	rpt_res_inst_detail_merchant a
	where 1=1
		<if test="req.xdCreateTimeStart!=null and req.xdCreateTimeStart!=''">
			and a.CREATE_TIME &gt;= str_to_date(#{req.xdCreateTimeStart}, '%Y-%m-%d')
		</if>
		<if test="req.xdCreateTimeEnd!=null and req.xdCreateTimeEnd!=''">
			and a.CREATE_TIME &lt;= str_to_date(#{req.xdCreateTimeEnd}, '%Y-%m-%d')
		</if>
		<if test="req.createTimeStart!=null and req.createTimeStart!=''">
			and a.RECEIVE_TIME &gt;= str_to_date(#{req.createTimeStart}, '%Y-%m-%d')
		</if>
		<if test="req.createTimeEnd!=null and req.createTimeEnd!=''">
			and a.RECEIVE_TIME &lt;= str_to_date(#{req.createTimeEnd}, '%Y-%m-%d')
		</if>
		<if test="req.outTimeStart!=null and req.outTimeStart!=''">
			and a.OUT_TIME &gt;= str_to_date(#{req.outTimeStart}, '%Y-%m-%d')
		</if>
		<if test="req.outTimeEnd!=null and req.outTimeEnd!=''">
			and a.OUT_TIME &lt;= str_to_date(#{req.outTimeEnd}, '%Y-%m-%d')
		</if>
		<if test="req.lanId!=null and req.lanId!=''">
			and a.CITY_ID = #{req.lanId}
		</if>
		<if test='req.mktResStoreId!=null and req.mktResStoreId!=""'>
			and a.mkt_res_store_id = #{req.mktResStoreId}
		</if>
		<if test="req.city!=null and req.city!=''">
			and a.COUNTY_ID = #{req.city}
		</if>
		<if test="req.serialStatus!=null and req.serialStatus!='' and req.serialStatus!='0'">
			and a.STATUS_CD = #{req.serialStatus}
		</if>
		<if test="req.registerType!=null and req.registerType!='' and req.registerType!='2'">
			and a.SELF_REG_STATUS = #{req.registerType}
		</if>
		<if test="req.serialType!=null and req.serialType!='' and req.serialType!='0'">
			and a.MKT_RES_INST_TYPE = #{req.serialType}
		</if>
		<if test="req.serialFrom!=null and req.serialFrom!='' and req.serialFrom!='0'">
			and a.SOURCE_TYPE = #{req.serialFrom}
		</if>
		<if test="req.serialToLanId!=null and req.serialToLanId!=''">
			and a.DEST_CITY_ID = #{req.serialToLanId}
		</if>
		<if test="req.serialToCity!=null and req.serialToCity!=''">
			and a.DEST_COUNTY_ID = #{req.serialToCity}
		</if>
		<if test="req.lssName!=null and req.lssName!=''">
			and a.PARTNER_NAME like CONCAT(CONCAT('%', #{req.lssName}),'%')   
		</if>
		<if test="req.lssCode!=null and req.lssCode!=''">
			and a.PARTNER_CODE like CONCAT(CONCAT('%', #{req.lssCode}),'%')   
		</if>
		<if test="req.jyName!=null and req.jyName!=''">
			and a.BUSINESS_ENTITY_NAME like CONCAT(CONCAT('%', #{req.jyName}),'%')   
		</if>
		<if test="req.gysName!=null and req.gysName!=''">
			and a.SUPPLIER_NAME like CONCAT(CONCAT('%', #{req.gysName}),'%')   
		</if>
		<if test="req.gysCode!=null and req.gysCode!=''">
			and a.SUPPLIER_CODE like CONCAT(CONCAT('%', #{req.gysCode}),'%')   
		</if>
		<if test="req.brand!=null and req.brand!=''">
			and a.BRAND_ID = #{req.brand}
		</if>
		<if test="req.productType!=null and req.productType!=''">
			and a.PRODUCT_BASE_ID = #{req.productType}
		</if>
		<if test="req.orderNo!=null and req.orderNo!=''">
			and a.ORDER_ID like CONCAT(CONCAT('%', #{req.orderNo}),'%')   
		</if>
		<if test="req.productCode!=null and req.productCode!=''">
			and a.PRODUCT_CODE = #{req.productCode}
		</if>
		<if test="req.serial!=null and req.serial!=''">
			and a.MKT_RES_INST_NBR = #{req.serial}
		</if>
		<if test="req.manufacturerCode!=null and req.manufacturerCode!=''">
			and a.MANUFACTURER_CODE = #{req.manufacturerCode}
		</if>
		<if test="req.cpType!=null and req.cpType!=''">
			and a.product_type = #{req.cpType}
		</if>
  </select>
  
  <select id="getCodeStatementsReportAdmin" parameterType="com.iwhalecloud.retail.report.dto.request.ReportCodeStatementsReq"
            resultType="com.iwhalecloud.retail.report.dto.response.ReportCodeStatementsResp">
	SELECT a.mkt_res_inst_nbr,
	a.status_cd storageType,
	a.mkt_res_inst_type,
	a.source_type,
	a.product_type,
	a.brand_name brandId,
	a.product_id,
	a.product_name,
	a.product_code,
	a.order_id,
	a.create_time,
	a.supplier_name,
	a.supplier_code,
	a.partner_name,
	a.partner_code,
	a.business_entity_name,
	a.city_id,
	(SELECT region_name FROM sys_common_region WHERE region_id =a.county_id) county_id,
	a.receive_time,
	a.out_time,
	a.stock_age,
	(case when a.stock_age &gt;30 and a.stock_age &lt;60 then '1' else '0' END) day30,
	(case when a.stock_age &gt;60 and a.stock_age &lt;90 then '1' else '0' END) day60,
	(case when a.stock_age &gt;90  then '1' else '0' END) day90,
	a.dest_merchant_id,
	a.dest_city_id,
	(SELECT region_name FROM sys_common_region WHERE region_id =a.dest_county_id) dest_county_id,
	a.self_reg_status
	FROM 
	rpt_res_inst_detail_admin a
	where 1=1
		<if test="req.xdCreateTimeStart!=null and req.xdCreateTimeStart!=''">
			and a.CREATE_TIME &gt;= str_to_date(#{req.xdCreateTimeStart}, '%Y-%m-%d')
		</if>
		<if test="req.xdCreateTimeEnd!=null and req.xdCreateTimeEnd!=''">
			and a.CREATE_TIME &lt;= str_to_date(#{req.xdCreateTimeEnd}, '%Y-%m-%d')
		</if>
		<if test="req.createTimeStart!=null and req.createTimeStart!=''">
			and a.RECEIVE_TIME &gt;= str_to_date(#{req.createTimeStart}, '%Y-%m-%d')
		</if>
		<if test="req.createTimeEnd!=null and req.createTimeEnd!=''">
			and a.RECEIVE_TIME &lt;= str_to_date(#{req.createTimeEnd}, '%Y-%m-%d')
		</if>
		<if test="req.outTimeStart!=null and req.outTimeStart!=''">
			and a.OUT_TIME &gt;= str_to_date(#{req.outTimeStart}, '%Y-%m-%d')
		</if>
		<if test="req.outTimeEnd!=null and req.outTimeEnd!=''">
			and a.OUT_TIME &lt;= str_to_date(#{req.outTimeEnd}, '%Y-%m-%d')
		</if>
		<if test="req.lanId!=null and req.lanId!=''">
			and a.CITY_ID = #{req.lanId}
		</if>
		<if test="req.city!=null and req.city!=''">
			and a.COUNTY_ID = #{req.city}
		</if>
		<if test="req.serialStatus!=null and req.serialStatus!='' and req.serialStatus!='0'">
			and a.STATUS_CD = #{req.serialStatus}
		</if>
		<if test="req.registerType!=null and req.registerType!='' and req.registerType!='2'">
			and a.SELF_REG_STATUS = #{req.registerType}
		</if>
		<if test="req.serialType!=null and req.serialType!='' and req.serialType!='0'">
			and a.MKT_RES_INST_TYPE = #{req.serialType}
		</if>
		<if test="req.serialFrom!=null and req.serialFrom!='' and req.serialFrom!='0'">
			and a.SOURCE_TYPE = #{req.serialFrom}
		</if>
		<if test="req.serialToLanId!=null and req.serialToLanId!=''">
			and a.DEST_CITY_ID = #{req.serialToLanId}
		</if>
		<if test="req.serialToCity!=null and req.serialToCity!=''">
			and a.DEST_COUNTY_ID = #{req.serialToCity}
		</if>
		<if test="req.lssName!=null and req.lssName!=''">
			and a.PARTNER_NAME like CONCAT(CONCAT('%', #{req.lssName}),'%')   
		</if>
		<if test="req.lssCode!=null and req.lssCode!=''">
			and a.PARTNER_CODE like CONCAT(CONCAT('%', #{req.lssCode}),'%')   
		</if>
		<if test="req.jyName!=null and req.jyName!=''">
			and a.BUSINESS_ENTITY_NAME like CONCAT(CONCAT('%', #{req.jyName}),'%')   
		</if>
		<if test="req.gysName!=null and req.gysName!=''">
			and a.SUPPLIER_NAME like CONCAT(CONCAT('%', #{req.gysName}),'%')   
		</if>
		<if test="req.gysCode!=null and req.gysCode!=''">
			and a.SUPPLIER_CODE like CONCAT(CONCAT('%', #{req.gysCode}),'%')   
		</if>
		<if test="req.brand!=null and req.brand!=''">
			and a.BRAND_ID = #{req.brand}
		</if>
		<if test="req.productType!=null and req.productType!=''">
			and a.PRODUCT_BASE_ID = #{req.productType}
		</if>
		<if test="req.orderNo!=null and req.orderNo!=''">
			and a.ORDER_ID like CONCAT(CONCAT('%', #{req.orderNo}),'%')   
		</if>
		<if test="req.productCode!=null and req.productCode!=''">
			and a.PRODUCT_CODE = #{req.productCode}
		</if>
		<if test="req.serial!=null and req.serial!=''">
			and a.MKT_RES_INST_NBR = #{req.serial}
		</if>
		<if test="req.manufacturerCode!=null and req.manufacturerCode!=''">
			and a.MANUFACTURER_CODE = #{req.manufacturerCode}
		</if>
		<if test="req.cpType!=null and req.cpType!=''">
			and a.product_type = #{req.cpType}
		</if>
  </select>
  
  
</mapper>