<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.report.mapper.ReportStInvCityMapper">

    <select id="listStInvCity" parameterType="com.iwhalecloud.retail.report.dto.request.ReportStInvCityDaoReq"
            resultType="com.iwhalecloud.retail.report.dto.request.RptPartnerOperatingDay">
		SELECT
			b.region_name as lanIdName,
			c.org_name as orgName,
			sum(a.TOTAL_IN_NUM) as totalInNum,
			sum(a.TOTAL_OUT_NUM) as totalOutNum,
			sum(a.stock_num) as stockNum,
			sum(a.PURCHASE_NUM) as purchaseNum,
			sum(a.MANUAL_NUM) as manualNum,
			sum(a.TRANS_IN_NUM) as transInNum,
			sum(a.SELL_NUM) as sellNum,
			sum(a.UNCONTRACT_NUM) as uncontractNum,
			sum(a.CONTRACT_NUM) as contractNum,
			sum(a.REGISTER_NUM) as registerNum,
			sum(a.TRANS_OUT_NUM) as transOutNum,
			sum(a.RETURN_NUM) as returnNum,
			sum(a.WEEK_AVG_SELL_NUM) as weekAvgSellNum
		FROM RPT_PARTNER_OPERATING_DAY a
		LEFT JOIN par_merchant par ON par.merchant_id = a.PARTNER_ID
		LEFT JOIN sys_common_org c ON INSTR(par.PAR_CRM_ORG_PATH_CODE, c.path_code) AND c.org_level='3'
		LEFT JOIN sys_common_region b ON a.city_id = b.region_id
		WHERE 1=1
		<if test="req.dateStart!=null and req.dateStart!=''">
		and str_to_date(a.DATE,'%Y-%m-%d') &gt;= str_to_date(#{req.dateStart}, '%Y-%m-%d')
		</if>
		<if test="req.dateStart!=null and req.dateStart!=''">
				and str_to_date(a.DATE,'%Y-%m-%d') &lt;= str_to_date(#{req.dateEnd}, '%Y-%m-%d')
		</if>
		<if test="req.lanIdList !=null and req.lanIdList.size()>0">
	          and a.CITY_ID in
	          <foreach collection="req.lanIdList" open="(" item="item" index="index" separator="," close=")">
	              #{item}
	          </foreach>
	    </if>
	    <if test="req.orgName!=null and req.orgName.size()>0">
		  	and 
		  	<foreach collection="req.orgName" open="(" item="item" index="index" separator=" or " close=")">
		  		INSTR( par.PAR_CRM_ORG_PATH_CODE, #{item}) 
		  	</foreach>
		  </if> 
		 group by a.CITY_ID,SUBSTRING_INDEX(par.PAR_CRM_ORG_PATH_CODE,'.',4)
  </select> 
            
</mapper>
