<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order2b.mapper.AdvanceOrderMapper">

    <select id="selectAdvanceOrderByOrderId"  resultType="com.iwhalecloud.retail.order2b.entity.AdvanceOrder"
    >
        SELECT * FROM ORD_ADVANCE_ORDER WHERE  order_id =#{orderId}
        <if test="lanId !=null and lanId !=''">
            and lan_id=#{lanId}
        </if>
    </select>

    <!-- 查询超时未支付的订单，一次查询1000条记录 -->
    <select id="queryOverTimePayOrder"  resultType="com.iwhalecloud.retail.order2b.entity.AdvanceOrder">
        <![CDATA[
        SELECT
            *
        FROM
            ord_advance_order a
        WHERE
            1 = 1
        AND (
            (a.ADVANCE_PAY_END < NOW() and a.ADVANCE_PAY_STATUS = '${@com.iwhalecloud.retail.order2b.consts.order.TypeStatus@TYPE_11.code}' )
            OR (a.REST_PAY_END < NOW() AND a.REST_PAY_STATUS = '${@com.iwhalecloud.retail.order2b.consts.order.TypeStatus@TYPE_11.code}' )
        )
        ORDER BY
            a.CREATE_TIME
        LIMIT 0,1000
        ]]>
    </select>

    <update id="updateAdvanceTransId">
        update ord_advance_order set advance_trans_id = #{reqSeq} where order_id = #{orderId}
    </update>

    <update id="updateRestTransId">
        update ord_advance_order set rest_trans_id = #{reqSeq} where order_id = #{orderId}
    </update>

</mapper>

