<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order2b.mapper.DeliveryMapper">
    <select id="selectLastByOrderId" resultType="com.iwhalecloud.retail.order2b.entity.Delivery">
			 SELECT
				MAX(BATCH_ID) BATCH_ID,
				SUM(SHIP_NUM) SHIP_NUM,
				t.CITY,
				t.CITY_ID,
				t.PROVINCE,
				t.PROVINCE_ID,
				t.ORDER_ID,
				t.REGION,
				t.REGION_ID,
				t.SHIP_ADDR,
				t.SHIP_EMAIL,
				t.SHIP_MOBILE,
				t.SHIP_NAME,
				t.SHIP_ZIP,
				t.SHIP_TYPE
			FROM
				ord_delivery t
			WHERE
				order_id = #{orderId}
		<if test="lanId !=null and lanId !=''">
			and lan_id=#{lanId}
		</if>
    </select>
	<select id="selectDeliveryListByOrderId" resultType="com.iwhalecloud.retail.order2b.entity.Delivery">
		SELECT * FROM ord_delivery
		 <where>
			 <if test="orderId !=null and orderId!=''">
				AND order_id = #{orderId}
			 </if>
			 <if test="orderApplyId !=null and orderApplyId!=''">
				AND order_apply_id = #{orderApplyId}
			 </if>
			 <if test="lanId !=null and lanId !=''">
				 and lan_id=#{lanId}
			 </if>

			 and SOURCE_FROM=#{sourceFrom}
		 </where>
	</select>
    <select id="selectLastByOrderApplyId" resultType="com.iwhalecloud.retail.order2b.entity.Delivery">
		 SELECT
				MAX(BATCH_ID) BATCH_ID,
				SUM(SHIP_NUM) SHIP_NUM,
				t.CITY,
				t.CITY_ID,
				t.PROVINCE,
				t.PROVINCE_ID,
				t.ORDER_ID,
				t.REGION,
				t.REGION_ID,
				t.SHIP_ADDR,
				t.SHIP_EMAIL,
				t.SHIP_MOBILE,
				t.SHIP_NAME,
				t.SHIP_ZIP,
				t.SHIP_TYPE
			FROM
				ord_delivery t
			WHERE
				order_apply_id = #{orderApplyId}
		<if test="lanId !=null and lanId !=''">
			and lan_id=#{lanId}
		</if>
	</select>

	<select id="selectDeliveryListByOrderIdAndBatchId" resultType="com.iwhalecloud.retail.order2b.entity.Delivery">
		SELECT * FROM ord_delivery
		<where>
			<if test="orderId !=null and orderId!=''">
				AND order_id = #{orderId}
			</if>
			<if test="batchId !=null and batchId!=''">
				AND BATCH_ID = #{batchId}
			</if>

			<if test="lanId !=null and lanId !=''">
				and lan_id=#{lanId}
			</if>

		</where>
	</select>

	<select id="getSettleRecordOrder" resultType="com.iwhalecloud.retail.order2b.dto.model.order.SettleRecordOrderDTO"
			parameterType="com.iwhalecloud.retail.order2b.dto.model.order.SettleRecordOrderDTO">
		select DISTINCT b.order_id as orderId ,b.RES_NBR as resNbr,c.SUPPLIER_ID as supplierId,c.SUPPLIER_CODE as supplierCode,c.MERCHANT_ID as merchantId,
		c.MERCHANT_CODE as merchantCode,d.PRICE as price,d.COUPON_PRICE as couponPrice,a.CREATE_TIME as deliveryTime,a.lan_id as lanId,c.create_time as orderCreateTime,
		c.SHIP_USER_ID as supplierAccountId ,c.CREATE_USER_ID  as merchantAccountId
		from ORD_DELIVERY a,ORD_ORDER_ITEM_DETAIL b,ORD_ORDER c,ORD_ORDER_ITEMS d
		where a.ORDER_ID = b.order_id
		AND a.order_id = c.order_id
		AND a.batch_id = b.batch_id
		AND a.order_id = d.order_id
		AND b.product_id = d.product_id
		and c.is_delete='0'
		and d.COUPON_PRICE > 0
		and c.lan_id = #{lanId}
		and b.order_id in
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>

	</select>
</mapper>