<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order2b.mapper.OrderItemDetailMapper">
    <insert id="insertByList">
        INSERT INTO ord_order_item_detail(
        detail_id,
        item_id,goods_id,product_id,res_nbr,batch_id,create_user_id,create_time,state,order_id,order_apply_id,
        lan_id
        )
        VALUES
        <foreach collection="list" separator="," index="index" item="item">
            (
            #{item.detailId},
            #{item.itemId}, #{item.goodsId}, #{item.productId}, #{item.resNbr}, #{item.batchId},
            #{item.createUserId},now(),#{item.state},#{item.orderId},#{item.orderApplyId},
            #{item.lanId}
            )
        </foreach>
    </insert>

    <update id="updateResNbr">
        UPDATE ord_order_item_detail
        <set>
            <if test="state!=null and state !=''">
                state=#{state},
            </if>
            <if test="uOrderApply !=null and uOrderApply !=''">
                order_apply_id =#{uOrderApply},
            </if>
        </set>

        WHERE 1=1
        <if test="detailList !=null and detailList.size()>0">
            AND detail_id IN
            <foreach collection="detailList" open="(" item="item" index="index" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="resNbrList !=null and resNbrList.size()>0">
            AND res_nbr IN
            <foreach collection="resNbrList" open="(" item="item" index="index" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="itemId !=null and itemId !=''">
            and item_id =#{itemId}
        </if>

        <if test="states!=null and states.size()>0">
            and state IN
            <foreach collection="states" open="(" index="index" item="item" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="orderApplyId !=null and orderApplyId !=''">
           and order_apply_id =#{orderApplyId}
        </if>
        <if test="lanId !=null and lanId !=''">
            and lan_id=#{lanId}
        </if>
    </update>

    <select id="selectResNbrListByIds" resultType="java.lang.String">
        SELECT res_nbr FROM ord_order_item_detail WHERE detail_id IN
        <foreach collection="detailList" open="(" item="item" index="index" separator="," close=")">
            #{item}
        </foreach>
        <if test="lanId !=null and lanId !=''">
            and lan_id=#{lanId}
        </if>
    </select>

    <select id="selectOrderItemDetail" resultType="com.iwhalecloud.retail.order2b.entity.OrderItemDetail">
        select * from ord_order_item_detail WHERE 1=1
        <if test="itemId !=null and itemId !=''">
            AND item_id=#{itemId}
        </if>
        <if test="resNbr !=null and resNbr !=''">
            and res_nbr=#{resNbr}
        </if>
        <if test="orderId !=null and orderId !=''">
            and order_id=#{orderId}
        </if>
        <if test="state !=null and state !=''">
            and state=#{state}
        </if>
        <if test="resNbrList !=null and resNbrList.size()>0">
            and res_nbr in
            <foreach collection="resNbrList" open="(" index="index" item="item" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="itemIds !=null and itemIds.size()>0">
            AND item_id IN
            <foreach collection="itemIds" open="(" index="index" item="item" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="states!=null and states.size()>0">
            and state IN
            <foreach collection="states" open="(" index="index" item="item" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="detailList !=null and detailList.size()>0">
            and detail_id in
            <foreach collection="detailList" open="(" index="index" item="item" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="orderApplyId !=null and orderApplyId!=''">
            and order_apply_id =#{orderApplyId}
        </if>

        <if test="lanId !=null and lanId !=''">
            and lan_id=#{lanId}
        </if>
    </select>

    <select id="queryOrderItemDetailByOrderId" parameterType="com.iwhalecloud.retail.order2b.dto.resquest.promo.ReBateOrderInDetailReq"
            resultType="com.iwhalecloud.retail.order2b.dto.response.OrderItemDetailReBateResp">
    SELECT c.SUPPLIER_ID,c.update_time,c.RECEIVE_TIME,c.MERCHANT_ID,a.order_id,a.product_id,a.res_nbr,a.item_id FROM ord_order_item_detail A
    INNER JOIN ord_order_items B ON A.item_id=b.item_id
    INNER JOIN ord_order c ON a.order_id=c.order_id
    WHERE  a.order_id = #{orderId}
    AND a.item_id = #{itemId}
    </select>

</mapper>
