<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order2b.mapper.OrderMapper">

    <select id="getOrderById" parameterType="string"
            resultType="com.iwhalecloud.retail.order2b.entity.Order">
        select * from ord_order WHERE order_id = #{orderId}
        <if test="lanId !=null and lanId !=''">
            and lan_id=#{lanId}
        </if>
    </select>


    <resultMap id="orderInfoList" type="com.iwhalecloud.retail.order2b.model.OrderInfoModel">
        <id column="order_id" property="orderId"/>
        <collection property="orderItems"
                    select="com.iwhalecloud.retail.order2b.mapper.OrderItemMapper.selectOrderItemByOrderId"
                    column="order_id"/>
    </resultMap>

    <sql id="selectOrderWhere">
        <where>
            <if test="req.userIds !=null and req.userIds.size()>0">
                AND user_id IN
                <foreach collection="req.userIds" open="(" close=")" item="item" index="index" separator=",">
                    #{item}
                </foreach>
            </if>

            <if test="req.supperIds !=null and req.supperIds.size()>0">
                AND supplier_id IN
                <foreach collection="req.supperIds" open="(" close=")" item="item" index="index" separator=",">
                    #{item}
                </foreach>
            </if>

            <if test="req.merchantId !=null and req.merchantId !=''">
                AND merchant_id = #{req.merchantId}
            </if>

            <if test="req.lanId !=null and req.lanId !=''">
                and lan_id=#{req.lanId}
            </if>
            <if test="req.lanIdList !=null and req.lanIdList.size()>0">
                and lan_id IN
                <foreach collection="req.lanIdList" open="(" item="item" index="index" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="req.statusAll !=null and req.statusAll.size()>0">
                AND status IN
                <foreach collection="req.statusAll" open="(" close=")" item="item" index="index" separator=",">
                    #{item}
                </foreach>
            </if>

            <if test="req.orderList !=null and req.orderList.size()>0">
                AND order_id IN
                <foreach collection="req.orderList" open="(" close=")" item="item" index="index" separator=",">
                    #{item}
                </foreach>
            </if>

            <if test="req.userCode !=null and req.userCode !=''">
                AND user_id = #{req.userCode}
            </if>
            <if test="req.userName !=null and req.userName !=''">
                AND user_name like #{req.userName}
            </if>
            <if test="req.supplierName !=null and req.supplierName !=''">
                AND supplier_name like #{req.supplierName}
            </if>

            <if test="req.orderTimeStart !=null and req.orderTimeStart !=''">
                AND create_time >= #{req.orderTimeStart}
            </if>
            <if test="req.orderTimeEnd !=null and req.orderTimeEnd !=''">
                AND #{req.orderTimeEnd} >= create_time
            </if>

            <if test="req.payTimeStart !=null and req.payTimeStart !=''">
                AND pay_time >= #{req.payTimeStart}
            </if>
            <if test="req.payTimeEnd !=null and req.payTimeEnd !=''">
                and #{req.payTimeEnd} >= pay_time
            </if>

            <if test="req.shipTimeStart !=null and req.shipTimeStart !=''">
                AND ship_time >= #{req.shipTimeStart}
            </if>
            <if test="req.shipTimeEnd !=null and req.shipTimeEnd !=''">
                AND #{req.shipTimeEnd} >= ship_time
            </if>
            <if test="req.orderId !=null and req.orderId !=''">
                AND #{req.orderId} = order_id
            </if>

            <if test="req.paymentType!=null and req.paymentType!=''">
                and pay_type = #{req.paymentType}
            </if>
            <if test="req.orderCat !=null and req.orderCat !=''">
                and ORDER_CAT =#{req.orderCat}
            </if>
            <if test="req.sourceFrom !=null and req.sourceFrom !=''">
                and SOURCE_FROM=#{req.sourceFrom}
            </if>

        </where>
    </sql>
    <select id="selectOrderListByOrder" resultType="com.iwhalecloud.retail.order2b.model.OrderInfoModel">
        SELECT * FROM ord_order
        <include refid="selectOrderWhere"/>
    </select>

    <update id="updateOrderAttr" parameterType="com.iwhalecloud.retail.order2b.model.OrderUpdateAttrModel">
        UPDATE ord_order
        SET
        <if test="status !=null and status!=''">
            status=#{status},
        </if>

        <if test="payStatus !=null and  payStatus!=''">
            pay_status=#{payStatus},
        </if>
        <if test="payCode !=null and  payCode!=''">
            pay_code=#{payCode},
        </if>
        <if test="payMoney !=null and  payMoney!=''">
            pay_money=#{payMoney},
        </if>
        <if test="payTime !=null and  payTime!=''">
            pay_time=#{payTime},
        </if>
        <if test="payType !=null and  payType!=''">
            pay_type=#{payType},
        </if>

        <if test="shipUserId !=null and  shipUserId!=''">
            ship_user_id=#{shipUserId},
        </if>
        <if test="shipStatus !=null and  shipStatus!=''">
            ship_status=#{shipStatus},
        </if>
        <if test="receiveTime !=null and  receiveTime!=''">
            receive_time=#{receiveTime},
        </if>
        update_time=now()
        WHERE order_id =#{orderId}
        <if test="lanId !=null and lanId !=''">
            and lan_id=#{lanId}
        </if>
    </update>

    <select id="getOrderCountByCondition" parameterType="com.iwhalecloud.retail.order2b.dto.resquest.report.OrderStatisticsRawReq" resultType="int">
        select count(1) from ord_order
        <where>
            <if test="null!=req.merchantId and ''!=req.merchantId">
                <choose>
                    <when test="req.isBuyer">
                        and USER_ID = #{req.merchantId}
                    </when>
                    <otherwise>
                        and MERCHANT_ID = #{req.merchantId}
                    </otherwise>
                </choose>
            </if>
            <if test="null!=req.statusList">
                and STATUS in
                <foreach item="item" index="index" open="(" separator="," close=")" collection="req.statusList">
                    #{item}
                </foreach>
            </if>
            <if test="req.isToday">
                and to_days(CREATE_TIME) = to_days(now())
            </if>
            <if test="req.lanId !=null and req.lanId !=''">
                and lan_id=#{req.lanId}
            </if>
        </where>
    </select>

    <select id="getOrderAmountByCondition" parameterType="com.iwhalecloud.retail.order2b.dto.resquest.report.OrderStatisticsRawReq" resultType="double">
        select sum(ifnull(PAY_MONEY,0)) from ord_order
        <where>
            <if test="null!=req.merchantId and ''!=req.merchantId">
                <choose>
                    <when test="req.isBuyer">
                        and USER_ID = #{req.merchantId}
                    </when>
                    <otherwise>
                        and MERCHANT_ID = #{req.merchantId}
                    </otherwise>
                </choose>
            </if>
            <if test="null!=req.statusList">
                and STATUS in
                <foreach item="item" index="index" open="(" separator="," close=")" collection="req.statusList">
                    #{item}
                </foreach>
            </if>
            <if test="req.isToday">
                and to_days(CREATE_TIME) = to_days(now())
            </if>
            <if test="req.lanId !=null and req.lanId !=''">
                and lan_id=#{req.lanId}
            </if>
        </where>
    </select>

    <select id="queryFtpOrderDataRespList" parameterType="com.iwhalecloud.retail.order2b.dto.resquest.order.FtpOrderDataReq"
            resultType="com.iwhalecloud.retail.order2b.dto.response.FtpOrderDataResp">
        SELECT
            t.BUYER_CODE AS cust_id,
            t.order_id,
            t.update_time,
            DATE_FORMAT(t.create_time, '%Y%m') AS yr_Mon,
            t.ORDER_AMOUNT AS Trans_Amt,
            (SELECT SUM(num) FROM ord_order_items item where item.order_id=t.order_id) as goods_Cnt
        FROM
            ord_order t
        WHERE
            t. STATUS IN (6, 10)
        <![CDATA[   and DATE_FORMAT(t.update_time, '%Y-%m-%d')>=  DATE_FORMAT(#{req.startDate}, '%Y-%m-%d')   ]]>
        <![CDATA[   and DATE_FORMAT(t.update_time, '%Y-%m-%d')>=  DATE_FORMAT(#{req.endDate}, '%Y-%m-%d')   ]]>
        order by t.update_time

    </select>
    <select id="getFstTransDate" resultType="java.lang.String">
        select t.create_time from ord_order t  where t.status in(6,10) order by t.create_time  LIMIT 0,1
    </select>
    <select id="queryFtpOrderDataRespListCount" parameterType="com.iwhalecloud.retail.order2b.dto.resquest.order.FtpOrderDataReq"
            resultType="java.lang.Integer">
        select count(1)
        from ord_order t where t.status in(6,10)
        <![CDATA[   and DATE_FORMAT(t.update_time, '%Y-%m-%d')>=  DATE_FORMAT(#{req.startDate}, '%Y-%m-%d')   ]]>
        <![CDATA[   and DATE_FORMAT(t.update_time, '%Y-%m-%d')>=  DATE_FORMAT(#{req.endDate}, '%Y-%m-%d')   ]]>

    </select>



    <select id="selectNotDeliveryOrderByIds" parameterType="list"
            resultType="com.iwhalecloud.retail.order2b.model.OrderInfoModel">
        select * from ord_order
        WHERE 1 = 1
        AND is_delete = 0
        AND status IN (0,11,12,2,13,14,3,4)
        AND order_id IN
        <foreach collection="list" item="item" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
        order by create_time desc
    </select>


    <select id="getGoodsSaleNumByTime"
            resultType="com.iwhalecloud.retail.order2b.dto.model.order.GoodsSaleOrderDTO">
        select b.goods_id as goodsId,sum(b.num) as saleNum from ord_order a, ord_order_items b
        where a.order_id = b.order_id
        and a.lan_id = b.lan_id
        and a.status in (4,41,5,6,10)
        and a.create_time > #{beginTime}
        and a.create_time <![CDATA[<=]]> DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%s')
        AND a.lan_id = #{lanId}
        group by b.goods_id
        order by saleNum
    </select>

    <select id="findPayAccountByOrderId" resultType="java.lang.String">
        select pma.account_name as account from
        (select su.rel_code from ord_order as oo inner join sys_user as su on oo.create_user_id = su.user_id and oo.order_id = #{orderId}) as t1
        inner join par_merchant_account as pma on pma.MERCHANT_ID = t1.rel_code and pma.ACCOUNT_TYPE = '1' and pma.state = '1'
    </select>

    <select id="findReptAccountAndMoneyByOrderId" resultType="java.util.Map">
        select pma.account_name as account, oo.pay_money as pay_money from par_merchant_account as pma inner join ord_order as oo
        on pma.merchant_id = oo.merchant_id
        and oo.order_id = #{orderId} and pma.ACCOUNT_TYPE = '1' and pma.state = '1'
    </select>

    <insert id="updatePayTransId">
        update ord_order set pay_trans_id = #{reqSeq} where order_id = #{orderId}
    </insert>

	<insert id="updateStatusByOrderId">
        update ord_order set status = #{status}, pay_type = #{status} where order_id = #{orderId}
    </insert>
	
</mapper>