<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order.mapper.CartMapper">
    <sql id="allFields">
    t.CART_ID
    ,t.PRODUCT_ID
    ,t.ITEMTYPE
    ,t.NUM
    ,t.WEIGHT
    ,t.SESSION_ID
    ,t.NAME
    ,t.PRICE
    ,t.IS_CHECKED
    ,t.ADDON
    ,t.MEMBER_LV_ID
    ,t.SOURCE_FROM
    ,t.SPEC_ID
    ,t.MEMBER_ID
    ,t.CONTRACT
    ,t.CART_ID
    ,t.PRODUCT_ID
    ,t.ITEMTYPE
    ,t.NUM
    ,t.WEIGHT
    ,t.SESSION_ID
    ,t.NAME
    ,t.PRICE
    ,t.IS_CHECKED
    ,t.ADDON
    ,t.MEMBER_LV_ID
    ,t.SOURCE_FROM
    ,t.SPEC_ID
    ,t.MEMBER_ID
    ,t.CONTRACT
</sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <insert id="insertCart" parameterType="com.iwhalecloud.retail.order.entity.Cart" >
        insert into ord_cart (cart_id, product_id, itemtype,
        num, weight, session_id,
        name, price, is_checked,
        addon, member_lv_id, spec_id,
        member_id, contract, is_check,
        partner_id)
        values (#{cartId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{itemtype,jdbcType=DECIMAL},
        #{num,jdbcType=DECIMAL}, #{weight,jdbcType=REAL}, #{sessionId,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{isChecked,jdbcType=DECIMAL},
        #{addon,jdbcType=VARCHAR}, #{memberLvId,jdbcType=VARCHAR}, #{specId,jdbcType=VARCHAR},
        #{memberId,jdbcType=VARCHAR}, #{contract,jdbcType=VARCHAR}, #{isCheck,jdbcType=VARCHAR},
        #{partnerId,jdbcType=VARCHAR})
    </insert>
    <select id="listGoods" parameterType="com.iwhalecloud.retail.order.dto.resquest.ListCartReqDTO"
            resultType="com.iwhalecloud.retail.order.dto.CartItemDTO">
        SELECT
        c.spec_id,
        c.member_lv_id,
        c.product_id,
        c.price,
        c.cart_id,
        c.num,
        c.itemtype,
        c.addon,
        CASE is_checked
        WHEN 0 THEN
        0
        ELSE
        1
        END is_checked,
        c.contract
        FROM
        ord_cart c
        WHERE
        c.partner_id =#{req.partnerId} and c.member_id = #{req.memberId}
        <if test="req.itemType != null">
            and c.itemtype = #{req.itemType}
        </if>
    </select>

    <update id="updateCartNum" parameterType="com.iwhalecloud.retail.order.dto.resquest.AddCartReqDTO">
          update ord_cart set num=num+#{req.num},is_check='1' where 1=1 and
           product_id=#{req.productId}
    </update>

    <update id="updateNum" parameterType="com.iwhalecloud.retail.order.dto.resquest.UpdateCartReqDTO">
          update ord_cart set num=#{req.num} where cart_id=#{req.cartId} and partner_id=#{req.partnerId}
    </update>

    <update id="updateCheckedFlag" parameterType="com.iwhalecloud.retail.order.dto.resquest.UpdateCartReqDTO">
          update ord_cart set is_checked=#{req.isChecked} where session_id =#{req.sessionId} or member_id =#{req.memberId}
    </update>

    <update id="cartReverseSelection" parameterType="String">
          update ord_cart set is_checked=#{isChecked} where member_id=#{memberId} and partner_id=#{partnerId}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.iwhalecloud.retail.order.dto.resquest.UpdateCartReqDTO" >
        update ord_cart
        <set >
            <if test="num != null" >
                num = #{num,jdbcType=DECIMAL},
            </if>
        </set>
        where cart_id = #{cartId,jdbcType=VARCHAR} and partner_id=#{partnerId,jdbcType=VARCHAR}
    </update>

    <delete id="cleanByMemberOrSession" parameterType="com.iwhalecloud.retail.order.dto.resquest.DeleteCartReqDTO">
         delete from ord_cart where member_id = #{req.memberId}
        <if test="req.isClean != null">
            and (is_checked=1 or is_checked is null)
        </if>
    </delete>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from ord_cart
        where cart_id = #{cartId,jdbcType=VARCHAR}
    </delete>

</mapper>