<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.order.mapper.SmsSendMapper">

<sql id="allFields">
    t.SMS_ID 
    ,t.MONITOR_SYSTEM 
    ,t.SMS_USER 
    ,t.SMS_TYPE 
    ,t.SEND_TIME 
    ,t.SMS_CONTENT 
    ,t.SEND_FLAG 
    ,t.SOURCE_FROM 
    ,t.RESERVE0 
</sql>

</mapper>