<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.goods.mapper.AttrSpecMapper">

<sql id="allFields">
    t.ATTR_ID 
    ,t.ATTR_GROUP_ID
    ,t.ATTR_GROUP_NAME
    ,t.TYPE_ID 
    ,t.TABLE_NAME 
    ,t.FILED_NAME 
    ,t.CNAME 
    ,t.VALUE_TYPE 
    ,t.DEFAULT_VALUE
    ,t.VALUE_SCOPE
    ,t.PAGE_URL 
    ,t.SPEC_ORDER 
    ,t.BOO_CHECK 
    ,t.BOO_EDIT 
    ,t.CHECK_MESSAGE 
    ,t.REGEX_CODE 
    ,t.COLSPAN 
    ,t.HTML_FILED_NAME 
    ,t.BOO_NULL 
    ,t.STATUS_CD 
    ,t.REMARK 
    ,t.CREATE_STAFF 
    ,t.CREATE_DATE 
    ,t.UPDATE_STAFF 
    ,t.UPDATE_DATE 
</sql>

</mapper>