<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.goods.mapper.CommentsMapper">

    <select id="listComments" parameterType="com.iwhalecloud.retail.goods.dto.req.ListCommentsReqDTO"
            resultType="com.iwhalecloud.retail.goods.entity.Comments">
      select * from prod_comments where for_comment_id in (select comment_id from prod_comments where for_comment_id is null
        and display='true' and object_id =#{req.goodsId} and comment_type=#{req.commentType})
        and display='true' order by time desc
    </select>

    <select id="commentPage" parameterType="com.iwhalecloud.retail.goods.dto.req.ListCommentsReqDTO"
    resultType="com.iwhalecloud.retail.goods.entity.Comments">
        select * from prod_comments where for_comment_id is null and
                display='true' and object_id =#{req.goodsId} and comment_type=#{req.commentType}
                order by time desc
    </select>
</mapper>