<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.goods.mapper.ProdFileMapper" >
  <resultMap id="BaseResultMap" type="com.iwhalecloud.retail.goods.entity.ProdFile" >
    <constructor >
      <idArg column="FILE_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="FILE_TYPE" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TARGET_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CHILD_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="FILE_URL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="THREE_DIMENSIONS_URL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="THUMBNAIL_URL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="DATE" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    FILE_ID, FILE_TYPE, TARGET_TYPE, CHILD_TYPE, FILE_URL, THREE_DIMENSIONS_URL, THUMBNAIL_URL, 
    CREATE_TIME
  </sql>

</mapper>