<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.goods.mapper.ProdTagRelMapper" >
  <resultMap id="BaseResultMap" type="com.iwhalecloud.retail.goods.entity.ProdTagRel" >
    <constructor >
      <idArg column="REL_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TAG_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GOODS_ID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    REL_ID, TAG_ID, GOODS_ID
  </sql>
</mapper>