<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.goods.mapper.ProdCatComplexMapper" >
  <resultMap id="BaseResultMap" type="com.iwhalecloud.retail.goods.entity.ProdCatComplex" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CAT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GOODS_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GOODS_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CAT_ID, GOODS_ID, GOODS_NAME, CREATE_TIME
  </sql>
</mapper>