<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.partner.mapper.BusinessEntityMapper">

<sql id="allFields">
    t.BUSINESS_ENTITY_ID 
    ,t.BUSINESS_ENTITY_CODE 
    ,t.BUSINESS_ENTITY_NAME 
    ,t.BUSINESS_ENTITY_SHORT_NAME 
    ,t.BUSINESS_ENTITY_LEVEL 
    ,t.STATUS 
    ,t.PARENT_BUSINESS_ENTITY_CODE
    ,t.LINKMAN
    ,t.PHONE_NO
    ,t.LAN_ID
    ,t.ORG_CODE
    ,t.PARENT_ORG_CODE
    ,t.REGION_ID
    ,t.USERID
</sql>

    <select id="pageBusinessEntity" resultType="com.iwhalecloud.retail.partner.dto.BusinessEntityDTO"
            parameterType="com.iwhalecloud.retail.partner.dto.req.BusinessEntityPageReq">
        select t.*,count(t.BUSINESS_ENTITY_CODE) as sum
        from par_business_entity t ,par_merchant b where 1=1
        and t.BUSINESS_ENTITY_CODE = b.BUSINESS_ENTITY_CODE
        <if test="req.businessEntityCode != null and req.businessEntityCode != ''">
            and t.BUSINESS_ENTITY_CODE like CONCAT(CONCAT('%', #{req.businessEntityCode }), '%')
        </if>
        <if test="req.businessEntityName != null and req.businessEntityName != ''">
            and lower(t.BUSINESS_ENTITY_NAME) like lower(CONCAT(CONCAT('%', #{req.businessEntityName }), '%'))
        </if>
        <if test="req.status != null and req.status != ''">
            and t.STATUS = #{req.status }
        </if>
        <if test="req.lanId != null and req.lanId != ''">
            and t.LAN_ID = #{req.lanId }
        </if>
        <if test="req.regionId != null and req.regionId != ''">
            and t.REGION_ID = #{req.regionId }
        </if>
       <!-- order by t.BUSINESS_ENTITY_ID desc -->
        group by t.BUSINESS_ENTITY_CODE
        HAVING sum > 1
    </select>

    <!-- 权限过滤查询-->
    <select id="pageBusinessEntityByRight" resultType="com.iwhalecloud.retail.partner.dto.BusinessEntityDTO"
            parameterType="com.iwhalecloud.retail.partner.dto.req.BusinessEntityPageByRightsReq">
        select <include refid="allFields" />
        from par_business_entity t left join par_merchant pm on t.BUSINESS_ENTITY_CODE = pm.BUSINESS_ENTITY_CODE
        WHERE 1 = 1
        <if test="req.businessEntityCode != null and req.businessEntityCode != ''">
            and t.BUSINESS_ENTITY_CODE like CONCAT(CONCAT('%', #{req.businessEntityCode }), '%')
        </if>
        <if test="req.businessEntityName != null and req.businessEntityName != ''">
            and lower(t.BUSINESS_ENTITY_NAME) like lower(CONCAT(CONCAT('%', #{req.businessEntityName }), '%'))
        </if>
        <if test="req.status != null and req.status != ''">
            and t.STATUS = #{req.status }
        </if>
        <if test="null!=req.merchantIdList and req.merchantIdList.size>0">
            and pm.MERCHANT_ID in
            <foreach item="item" index="index" open="(" separator="," close=")" collection="req.merchantIdList">
                #{item}
            </foreach>
        </if>

        <if test="req.merchantName != null and req.merchantName != ''">
            and lower(pm.MERCHANT_NAME) like lower(CONCAT(CONCAT('%', #{req.merchantName}), '%'))
        </if>
        <!--<if test="req.merchantId != null and req.merchantId != ''">-->
            <!--and pm.MERCHANT_ID =  #{req.merchantId}-->
        <!--</if>-->
        <if test="req.shopCode != null and req.shopCode != ''">
            and lower(pm.SHOP_CODE) like lower(CONCAT(CONCAT('%', #{req.shopCode}), '%'))
        </if>
        <if test="req.channelType != null and req.channelType != ''">
            and pm.CHANNEL_TYPE =  #{req.channelType}
        </if>
        order by t.BUSINESS_ENTITY_ID desc
    </select>

</mapper>