<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.partner.mapper.InvoiceMapper">

<sql id="allFields">
    t.INVOICE_ID 
    ,t.MERCHANT_ID 
    ,t.MERCHANT_NAME 
    ,t.INVOICE_TYPE 
    ,t.TAX_CODE 
    ,t.BUSI_LICENCE_CODE 
    ,t.BUSI_LICENCE_EXP_DATE 
    ,t.REGISTER_ADDRESS 
    ,t.REGISTER_PHONE 
    ,t.REGISTER_BANK 
    ,t.REGISTER_BANK_ACCT 
    ,t.ACCT_CERTIFICATE 
    ,t.BUSI_LICENCE_FILE 
    ,t.VAT_INVOICE_STATUS 
</sql>

    <select id="pageInvoiceByMerchantId" resultType="com.iwhalecloud.retail.partner.dto.resp.InvoicePageResp" parameterType="com.iwhalecloud.retail.partner.dto.req.InvoicePageReq">
        select
        <include refid="allFields"></include>
        from PAR_INVOICE t where 1=1 
        <if test="req.merchantId != null and req.merchantId != ''">
            and lower(t.MERCHANT_ID) = #{req.merchantId} 
        </if>
        <if test="req.invoiceType != null and req.invoiceType != ''">
            and lower(t.INVOICE_TYPE) = #{req.invoiceType} 
        </if>
    </select>
    <select id="queryInvoiceByMerchantIds" resultType="com.iwhalecloud.retail.partner.dto.resp.InvoicePageResp"
            parameterType="com.iwhalecloud.retail.partner.dto.req.QueryInvoiceByMerchantIdsReq">
        select
        <include refid="allFields"></include>
        from PAR_INVOICE t where 1=1
        <if test="req.merchantIdList != null and req.merchantIdList.size > 0">
            and t.MERCHANT_ID in
            <foreach collection="req.merchantIdList" open="(" index="index" item="item" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="req.invoiceType != null and req.invoiceType != ''">
            and lower(t.INVOICE_TYPE) = #{req.invoiceType}
        </if>
    </select>

</mapper>