<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.partner.mapper.MerchantLimitMapper">

<sql id="allFields">
    t.MERCHANT_ID 
    ,t.MAX_SERIAL_NUM 
    ,t.SERIAL_NUM_USED 
</sql>

</mapper>