<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.partner.mapper.PartnerAccountMapper">

<sql id="allFields">
    t.ACCOUNT_ID 
    ,t.PARTNER_ID 
    ,t.ACCOUNT_TYPE 
    ,t.ACCOUNT 
    ,t.IS_DEFAULT 
    ,t.STATE 
</sql>

    <select id="qryPartnerAccountPageList" parameterType="com.iwhalecloud.retail.partner.dto.req.PartnerAccountPageReq"
            resultType="com.iwhalecloud.retail.partner.dto.PartnerAccountDTO">
        SELECT <include refid="allFields" /> FROM PAR_PARTNER_ACCOUNT t
        <where>
            <if test="pageReq.partnerId!=null and pageReq.partnerId!=''">
                and t.Partner_id = #{pageReq.partnerId}
            </if>
            <if test="pageReq.states!=null">
                and t.state in
                <foreach item="item" index="index" collection="pageReq.states" open="("  separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>