<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.warehouse.mapper.ResouceEventMapper">

<sql id="allFields">
    t.MKT_RES_EVENT_ID 
    ,t.MKT_RES_EVENT_NBR 
    ,t.MKT_RES_EVENT_NAME 
    ,t.MKT_RES_STORE_ID 
    ,t.DEST_STORE_ID 
    ,t.MKT_RES_ID 
    ,t.OBJ_TYPE 
    ,t.OBJ_ID 
    ,t.EVENT_TYPE 
    ,t.EVENT_DESC 
   /* ,t.PARTNER_ID */
    ,t.ACCEPT_DATE 
    ,t.STATUS_DATE 
    ,t.STATUS_CD 
    ,t.CREATE_POST 
    ,t.CREATE_ORG_ID 
    ,t.CREATE_STAFF 
    ,t.CREATE_DATE 
    ,t.UPDATE_STAFF 
    ,t.REMARK 
    ,t.UPDATE_DATE 
</sql>
    <update id="updateResourceEventStatusCd" parameterType="com.iwhalecloud.retail.warehouse.entity.ResouceEvent">
        update mkt_res_event t
        set t.STATUS_CD = #{statusCd},t.UPDATE_DATE = #{updateDate},t.STATUS_DATE = #{statusDate},t.UPDATE_STAFF = #{updateStaff}
        where EVENT_TYPE = #{eventType}
        and MKT_RES_EVENT_ID = #{mktResEventId}
    </update>
    <select id="selectMktResEventList" resultType="com.iwhalecloud.retail.warehouse.entity.ResouceEvent">
		SELECT <include refid="allFields"/>
        FROM
        MKT_RES_EVENT t
        WHERE t.status_cd='1003'
        AND t.STATUS_DATE >= #{startDate}
        AND #{endDate}>= t.STATUS_DATE
        AND t.event_type IN
        <foreach collection="eventType" index="index" item="itemEventType" open="(" separator="," close=")">
            #{itemEventType}
        </foreach>
	</select>

</mapper>