<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.warehouse.mapper.ResouceInstTrackMapper">

    <sql id="allFields">
        t.MKT_RES_INST_NBR
        ,t.CT_CODE
        ,t.MKT_RES_ID
        ,t.MKT_RES_INST_TYPE
        ,t.SALES_PRICE
        ,t.SOURCE_TYPE
        ,t.MERCHANT_ID
        ,t.MKT_RES_STORE_ID
        ,t.LAN_ID
        ,t.REGION_ID
        ,t.STATUS_CD
        ,t.STATUS_DATE
        ,t.CRM_STATUS
        ,t.SELF_REG_STATUS
        ,t.IF_PRE_SUBSIDY
        ,t.TYPE_ID
    </sql>

    <sql id="nbrSource">
        t.MKT_RES_INST_NBR
        ,t.IF_DIRECT_SUPPLY
        ,t.IF_GROUND_SUPPLY
        ,t.IF_GREEN_CHANNEL
    </sql>

    <select id="qryOrderIdByNbr" resultType="java.lang.String">
         SELECT ORDER_ID from mkt_res_inst_track_detail where MKT_RES_INST_NBR=#{nbr} and STORAGE_TYPE=#{storageType} LIMIT 1
    </select>

    <select id="getResourceInstTrackByNbrAndMerchantId" resultType="com.iwhalecloud.retail.warehouse.dto.ResouceInstTrackDTO">
         SELECT <include refid="nbrSource" /> from mkt_res_inst_track t where MKT_RES_INST_NBR=#{nbr} and MERCHANT_ID = #{merchantId} LIMIT 1
    </select>

    <select id="getStoreIdByNbr" resultType="java.lang.String">
         SELECT MKT_RES_STORE_ID from mkt_res_inst_track t where MKT_RES_INST_NBR=#{nbr}
    </select>

    <select id="listResourceInstsTrack" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceInstsTrackGetReq"
            resultType="com.iwhalecloud.retail.warehouse.dto.ResouceInstTrackDTO">
        select <include refid="allFields" />
        from mkt_res_inst_track t
        where 1 = 1
        and t.mkt_res_inst_nbr in
        <foreach item="item" index="index" open="(" separator="," close=")" collection="mktResInstNbrList">
            #{item}
        </foreach>
        <if test="null!=statusCd and ''!=statusCd">
            and t.status_cd = #{statusCd}
        </if>
        <if test="null!=merchantId and ''!=merchantId">
            and t.merchant_id = #{merchantId}
        </if>
        <if test="null!=mktResId and ''!=mktResId">
            and t.mkt_res_id = #{mktResId}
        </if>
        <if test="null!=typeId and ''!=typeId">
            and t.type_id = #{typeId}
        </if>
        <if test="null!=merchantType and ''!=merchantType">
            and t.merchant_type = #{merchantType}
        </if>
        <if test="null!=mktResStoreId and ''!=mktResStoreId">
            and t.mkt_res_store_id = #{mktResStoreId}
        </if>
        <if test="null!=sourceType and ''!=sourceType">
            and t.source_type = #{sourceType}
        </if>
    </select>

</mapper>