<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.warehouse.mapper.ResourceReqDetailMapper">

<sql id="allFields">
    t.MKT_RES_REQ_DETAIL_ID 
    ,t.MKT_RES_REQ_ITEM_ID 
    ,t.MKT_RES_INST_ID 
    ,t.DISP_DATE 
    ,t.ARRIVE_DATE 
    ,t.STATUS_DATE 
    ,t.STATUS_CD 
    ,t.CREATE_STAFF 
    ,t.CREATE_DATE 
    ,t.UPDATE_STAFF 
    ,t.UPDATE_DATE 
    ,t.QUANTITY 
    ,t.UNIT 
    ,t.CHNG_TYPE
    ,t.MKT_RES_INST_NBR
    ,t.CT_CODE
    ,t.REMARK 
</sql>
    <select id="listDetail" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceReqDetailQueryReq"
            resultType="com.iwhalecloud.retail.warehouse.dto.ResourceReqDetailDTO">

        select rest.MKT_RES_STORE_ID,rest.DEST_STORE_ID,rest.LAN_ID,rest.REGION_ID,rest.mkt_res_inst_type ,detail.*,item.MKT_RES_ID
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where 1=1
        and rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        and rest.MKT_RES_REQ_ID = #{req.mktResReqId}

    </select>


    <select id="resourceRequestPage" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceReqDetailPageReq"
            resultType="com.iwhalecloud.retail.warehouse.dto.response.ResourceReqDetailPageResp">
        select rest.MKT_RES_REQ_ID,detail.CT_CODE,detail.MKT_RES_INST_NBR,item.MKT_RES_ID
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where 1=1
        and rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        and rest.MKT_RES_REQ_ID = #{req.mktResReqId}
        <if test = "null != req.mktResInstNbr and '' != req.mktResInstNbr">
            and detail.MKT_RES_INST_NBR = #{req.mktResInstNbr}
        </if>
        <if test = "null != req.isInspection and '' != req.isInspection">
            and detail.IS_INSPECTION = #{req.isInspection}
        </if>
        order by detail.MKT_RES_INST_NBR DESC
    </select>

    <select id="getProcessingNbrList" parameterType="java.util.List"
            resultType="java.lang.String">
        select detail.MKT_RES_INST_NBR
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where 1=1
        and rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        and rest.CREATE_DATE &lt;= now() and item.CREATE_DATE &lt;= now() and detail.CREATE_DATE &lt;= now()
        and rest.STATUS_CD != ${@com.iwhalecloud.retail.warehouse.common.ResourceConst$MKTRESSTATE@DONE.getCode()}
        and rest.STATUS_CD != ${@com.iwhalecloud.retail.warehouse.common.ResourceConst$MKTRESSTATE@CANCEL.getCode()}
        and detail.MKT_RES_INST_NBR in
        <foreach item="item" index="index" open="(" separator="," close=")" collection="nbrList">
            #{item}
        </foreach>
    </select>

    <select id="resourceRequestCount" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceReqDetailReq"
            resultType="java.lang.Integer">
        select count(rest.MKT_RES_REQ_ID)
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where 1=1
        and rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        and rest.MKT_RES_REQ_ID = #{req.mktResReqId}
        <if test = "null != req.mktResInstNbr and '' != req.mktResInstNbr">
            and detail.MKT_RES_INST_NBR = #{req.mktResInstNbr}
        </if>
        <if test = "null != req.isInspection and '' != req.isInspection">
            and detail.IS_INSPECTION = #{req.isInspection}
        </if>
        <if test = "null != req.statusCd and '' != req.statusCd">
            and detail.status_cd = #{req.statusCd}
        </if>
    </select>

    <select id="executorResourceRequestPage" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceReqDetailPageReq"
            resultType="com.iwhalecloud.retail.warehouse.dto.response.ResourceReqDetailPageResp">
        select rest.MKT_RES_REQ_ID,detail.CT_CODE,detail.MKT_RES_INST_NBR,item.MKT_RES_ID
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where 1=1
        and rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        and rest.MKT_RES_REQ_ID = #{req.mktResReqId}
        <if test = "null != req.mktResInstNbr and '' != req.mktResInstNbr">
            and detail.MKT_RES_INST_NBR = #{req.mktResInstNbr}
        </if>
        <if test = "null != req.isInspection and '' != req.isInspection">
            and detail.IS_INSPECTION = #{req.isInspection}
        </if>
        order by detail.MKT_RES_INST_NBR DESC
        LIMIT #{req.pageStartNo}, #{req.pageSize}
    </select>

    <update id="updateResourceReqDetailStatusCd" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceReqDetailUpdateReq">
        UPDATE MKT_RES_REQ_DETAIL set UPDATE_STAFF = #{updateStaff}, UPDATE_DATE = #{updateDate}, STATUS_DATE = #{statusDate}, STATUS_CD = #{statusCd}
        WHERE MKT_RES_REQ_ITEM_ID in
        <foreach item="item" index="index" open="(" separator="," close=")" collection="mktResReqItemIdList">
            #{item}
        </foreach>
    </update>

    <select id="listResourceRequestPage" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceReqDetailQueryReq"
            resultType="com.iwhalecloud.retail.warehouse.dto.ResourceReqDetailPageDTO">
        select rest.REQ_CODE,rest.MKT_RES_REQ_ID,item.MKT_RES_ID,rest.mkt_res_inst_type,rest.MERCHANT_ID,
        rest.DEST_STORE_ID,item.MKT_RES_REQ_ITEM_ID,rest.MKT_RES_STORE_ID,rest.LAN_ID,rest.REGION_ID,rest.MKT_RES_STORE_ID,detail.*
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where  rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        <if test = "null != req.mktResInstNbrs and req.mktResInstNbrs.size()>0">
            and detail.MKT_RES_INST_NBR in
            <foreach item="item" index="index" open="(" separator="," close=")" collection="req.mktResInstNbrs">
                #{item}
            </foreach>
        </if>
        <if test = "null != req.mktResReqIdList and req.mktResReqIdList.size()>0">
            and rest.MKT_RES_REQ_ID in
            <foreach item="item" index="index" open="(" separator="," close=")" collection="req.mktResReqIdList">
                #{item}
            </foreach>
        </if>
        <if test = "null != req.mktResReqDetailIds and req.mktResReqDetailIds.size()>0">
            and detail.MKT_RES_REQ_DETAIL_ID in
            <foreach item="item" index="index" open="(" separator="," close=")" collection="req.mktResReqDetailIds">
                #{item}
            </foreach>
        </if>
        <if test = "null != req.reqType and '' != req.reqType">
            and rest.req_type = #{req.reqType}
        </if>
        <if test = "null != req.reqCode and '' != req.reqCode">
            and rest.REQ_CODE = #{req.reqCode}
        </if>
        <if test = "null != req.statusCd and '' != req.statusCd">
            and detail.STATUS_CD = #{req.statusCd}
        </if>
        <if test = "null != req.merchantId and req.merchantId.size()>0">
            and rest.merchant_id in
            <foreach item="item" index="index" open="(" separator="," close=")" collection="req.merchantId">
                #{item}
            </foreach>
        </if>
        <if test = "null != req.productId and req.productId.size()>0">
            and item.MKT_RES_ID in
            <foreach item="item" index="index" open="(" separator="," close=")" collection="req.productId">
                #{item}
            </foreach>
        </if>
        <if test = "null != req.createStartDate and '' != req.createStartDate">
            and detail.CREATE_DATE &gt;= #{req.createStartDate}
        </if>
        <if test = "null != req.createEndDate and '' != req.createEndDate">
            and detail.CREATE_DATE &lt;= #{req.createEndDate}
        </if>
        <if test = "null != req.statusStartDate and '' != req.statusStartDate">
            and detail.STATUS_DATE &gt;=#{req.statusStartDate}
        </if>
        <if test = "null != req.statusEndDate and '' != req.statusEndDate">
            and detail.STATUS_DATE &lt;=#{req.statusEndDate}
        </if>
        <if test = "null != req.updateStaff and '' != req.updateStaff">
            and detail.UPDATE_STAFF = #{req.updateStaff}
        </if>
        order by detail.CREATE_DATE DESC,detail.MKT_RES_REQ_DETAIL_ID
    </select>

    <select id="listDistinctResourceRequestByUser" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceReqDetailQueryReq"
            resultType="com.iwhalecloud.retail.warehouse.dto.ResourceReqDetailPageDTO">
        select distinct (rest.MKT_RES_REQ_ID) MKT_RES_REQ_ID,detail.CREATE_DATE
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where  rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        <if test = "null != req.updateStaff and '' != req.updateStaff">
            and detail.UPDATE_STAFF = #{req.updateStaff}
        </if>
        order by detail.CREATE_DATE DESC
    </select>

</mapper>