<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.warehouse.mapper.ResourceReqItemMapper">

<sql id="allFields">
    t.MKT_RES_REQ_ITEM_ID 
    ,t.MKT_RES_REQ_ID 
    ,t.MKT_RES_ID 
    ,t.MKT_RES_STORE_ID 
    ,t.QUANTITY 
    ,t.LAN_ID 
    ,t.REGION_ID 
    ,t.STATUS_CD 
    ,t.CREATE_STAFF 
    ,t.CREATE_DATE 
    ,t.UPDATE_STAFF 
    ,t.UPDATE_DATE 
    ,t.STATUS_DATE 
    ,t.REMARK 
</sql>
        <select id="getItemQuantity" parameterType="String" resultType="Integer">
              select SUM(t.QUANTITY) from mkt_res_req_item t where t.MKT_RES_REQ_ID = #{requestId};
        </select>


         <select id="getProductCatName" parameterType="String" resultType="String">
            select pc.CAT_NAME from mkt_res_req_item t, prod_product pp,prod_product_base ppb,prod_cat pc where
            t.MKT_RES_ID = pp.PRODUCT_ID and pp.PRODUCT_BASE_ID = ppb.PRODUCT_BASE_ID
            and ppb.CAT_ID = pc.CAT_ID and t.MKT_RES_REQ_ID = #{requestId};
        </select>

</mapper>