<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.warehouse.mapper.ResourceReqDetailMapper">

<sql id="allFields">
    t.MKT_RES_REQ_DETAIL_ID 
    ,t.MKT_RES_REQ_ITEM_ID 
    ,t.MKT_RES_INST_ID 
    ,t.DISP_DATE 
    ,t.ARRIVE_DATE 
    ,t.STATUS_DATE 
    ,t.STATUS_CD 
    ,t.CREATE_STAFF 
    ,t.CREATE_DATE 
    ,t.UPDATE_STAFF 
    ,t.UPDATE_DATE 
    ,t.QUANTITY 
    ,t.UNIT 
    ,t.CHNG_TYPE
    ,t.MKT_RES_INST_NBR
    ,t.CT_CODE
    ,t.REMARK 
</sql>
    <select id="listDetail" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceReqDetailQueryReq"
            resultType="com.iwhalecloud.retail.warehouse.dto.ResourceReqDetailDTO">

        select rest.MKT_RES_STORE_ID,rest.DEST_STORE_ID,rest.LAN_ID,rest.REGION_ID,rest.mkt_res_inst_type ,detail.*,item.MKT_RES_ID
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where 1=1
        and rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        and rest.MKT_RES_REQ_ID = #{req.mktResReqId}

    </select>


    <select id="resourceRequestPage" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceReqDetailPageReq"
            resultType="com.iwhalecloud.retail.warehouse.dto.response.ResourceReqDetailPageResp">
        select rest.MKT_RES_REQ_ID,detail.CT_CODE,detail.MKT_RES_INST_NBR,item.MKT_RES_ID
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where 1=1
        and rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        and rest.MKT_RES_REQ_ID = #{req.mktResReqId}
        <if test = "null != req.mktResInstNbr and '' != req.mktResInstNbr">
            and detail.MKT_RES_INST_NBR = #{req.mktResInstNbr}
        </if>
        <if test = "null != req.isInspection and '' != req.isInspection">
            and detail.IS_INSPECTION = #{req.isInspection}
        </if>
        order by detail.MKT_RES_INST_NBR DESC
    </select>

    <select id="getProcessingNbrList" parameterType="java.util.List"
            resultType="java.lang.String">
        select detail.MKT_RES_INST_NBR
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where 1=1
        and rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        and rest.CREATE_DATE &lt;= now() and item.CREATE_DATE &lt;= now() and detail.CREATE_DATE &lt;= now()
        and rest.STATUS_CD != ${@com.iwhalecloud.retail.warehouse.common.ResourceConst$MKTRESSTATE@DONE.getCode()}
        and rest.STATUS_CD != ${@com.iwhalecloud.retail.warehouse.common.ResourceConst$MKTRESSTATE@CANCEL.getCode()}
        and detail.MKT_RES_INST_NBR in
        <foreach item="item" index="index" open="(" separator="," close=")" collection="nbrList">
            #{item}
        </foreach>
    </select>

    <select id="resourceRequestCount" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceReqDetailReq"
            resultType="java.lang.Integer">
        select count(rest.MKT_RES_REQ_ID)
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where 1=1
        and rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        and rest.MKT_RES_REQ_ID = #{req.mktResReqId}
        <if test = "null != req.mktResInstNbr and '' != req.mktResInstNbr">
            and detail.MKT_RES_INST_NBR = #{req.mktResInstNbr}
        </if>
        <if test = "null != req.isInspection and '' != req.isInspection">
            and detail.IS_INSPECTION = #{req.isInspection}
        </if>
    </select>

    <select id="executorResourceRequestPage" parameterType="com.iwhalecloud.retail.warehouse.dto.request.ResourceReqDetailPageReq"
            resultType="com.iwhalecloud.retail.warehouse.dto.response.ResourceReqDetailPageResp">
        select rest.MKT_RES_REQ_ID,detail.CT_CODE,detail.MKT_RES_INST_NBR,item.MKT_RES_ID
        from MKT_RES_REQUEST rest,MKT_RES_REQ_ITEM item,MKT_RES_REQ_DETAIL detail
        where 1=1
        and rest.MKT_RES_REQ_ID = item.MKT_RES_REQ_ID and  item.MKT_RES_REQ_ITEM_ID = detail.MKT_RES_REQ_ITEM_ID
        and rest.MKT_RES_REQ_ID = #{req.mktResReqId}
        <if test = "null != req.mktResInstNbr and '' != req.mktResInstNbr">
            and detail.MKT_RES_INST_NBR = #{req.mktResInstNbr}
        </if>
        <if test = "null != req.isInspection and '' != req.isInspection">
            and detail.IS_INSPECTION = #{req.isInspection}
        </if>
        order by detail.MKT_RES_INST_NBR DESC
        LIMIT #{req.pageStartNo}, #{req.pageSize}
    </select>
</mapper>