<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.oms.mapper.ContentBaseMapper">


    <sql id="allFields">
    t.CONTENT_ID
    ,t.TITLE
    ,t.DESP
    ,t.CATALOG_ID
    ,t.EFF_DATE
    ,t.EXP_DATE
    ,t.TYPE
    ,t.STATUS
    ,t.OPR_ID
    ,t.UPD_DATE
    ,t.COPYWRITER
    ,t.MAXPICNUM
    ,t.PLAYINTERVAL
  </sql>


    <select id="queryContentBase"
            resultType="com.iwhalecloud.retail.oms.dto.ContentBaseDTO">
		SELECT  <include refid="allFields" />
        FROM t_content_base t
		WHERE content_id=#{contentId}
	</select>

    <select id="qryContentBasePageList" parameterType="com.iwhalecloud.retail.oms.dto.resquest.content.ContentBasePageReq"
            resultType="com.iwhalecloud.retail.oms.dto.ContentBaseDTO">
        SELECT  distinct t.CONTENT_ID,
        t.TITLE,
        t.DESP,
        t.CATALOG_ID,
        t.EFF_DATE,
        t.EXP_DATE,
        t.TYPE,
        t.STATUS,
        t.OPR_ID,
        t.UPD_DATE,
        t.MAXPICNUM,
        t.PLAYINTERVAL
        from t_content_base t
        <!--left join t_content_tag b on t.content_id=b.content_id
        left join t_content_material c on t.content_id=c.contentid
        left join t_catalog d on t.catalog_Id = d.cata_id-->
        <where>
            <if test="pageReq.catalogId!=null and pageReq.catalogId!=''">
                and t.catalog_id=#{pageReq.catalogId}
            </if>
            <if test="pageReq.types!=null">
                and t.type in
                    <foreach item="item" index="index" collection="pageReq.types" open="("  separator="," close=")">
                        #{item}
                    </foreach>
            </if>
            <if test="pageReq.status!=null">
                and t.status in
                    <foreach item="item" index="index" collection="pageReq.status" open="("  separator="," close=")">
                        #{item}
                    </foreach>
            </if>
            <if test="pageReq.tagIds!=null">
                and t.content_id in(select distinct content_id from t_content_tag where tag_id in
                <foreach item="item" index="index" collection="pageReq.tagIds" open="(" separator="," close=")">
                    #{item}
                </foreach>)
            </if>
            <if test="pageReq.oprid!=null and pageReq.oprid!=''">
                and t.opr_id =#{pageReq.oprid}
            </if>
            <if test="pageReq.beginTime!=null">
                and t.upd_date <![CDATA[ >= ]]>  #{pageReq.beginTime}
            </if>
            <if test="pageReq.endTime!=null">
                and t.upd_date <![CDATA[ <= ]]>  #{pageReq.endTime}
            </if>
            <if test="pageReq.fieldVal!=null and pageReq.fieldVal!=''">
                and (t.title like CONCAT(CONCAT('%', #{pageReq.fieldVal}), '%') or d.name like CONCAT(CONCAT('%', #{pageReq.fieldVal}), '%'))
            </if>
            <if test="pageReq.title!=null and pageReq.title!=''">
                and t.title like CONCAT(CONCAT('%', #{pageReq.title}), '%')
            </if>

            <!--<if test="pageReq.currentTime!=null">
                and t.eff_date <![CDATA[ <= ]]> #{pageReq.currentTime}
                and t.exp_date <![CDATA[ >= ]]> #{pageReq.currentTime}
            </if>-->
            and now() BETWEEN t.EFF_DATE and t.EXP_DATE
        </where>
        order by t.upd_date desc
    </select>

    <select id="qryContentBasePicsetOrTextPageList" parameterType="com.iwhalecloud.retail.oms.dto.resquest.content.ContentBasePTPageReq"
            resultType="com.iwhalecloud.retail.oms.dto.ContentBaseDTO">
        SELECT  <include refid="allFields" />
        from t_content_base t
        <where>
            <!-- 在有效期间内的内容才给予显示-->
            now() BETWEEN t.EFF_DATE and t.EXP_DATE
            <!--通过areaId查询p表-->
            <if test="pageReq.area!=null and pageReq.area!=''">
                and t.content_id in (select DISTINCT(contentid) from t_content_publish p where p.area like concat(concat('%',#{pageReq.area}),'%'))
            </if>
            <if test="pageReq.status!=null and pageReq.status!=''">
                and t.status = #{pageReq.status}
            </if>
            <if test="pageReq.type!=null and pageReq.type!=''">
                and t.type = #{pageReq.type}
            </if>
            <!--<if test="pageReq.currentTime!=null">
                and p.EFFDATE &lt;= #{pageReq.currentTime}
                and p.EXPDATE >= #{pageReq.currentTime}
            </if>-->
        </where>
        order by t.upd_date desc
    </select>

    <select id="qryContentBaseList" parameterType="com.iwhalecloud.retail.oms.dto.ContentBaseDTO"
            resultType="com.iwhalecloud.retail.oms.dto.ContentBaseDTO">
        SELECT  <include refid="allFields" />
        from t_content_base t
        <where>
            <if test="catalogId!=null and catalogId!=''">
                and t.catalog_id=#{catalogId}
            </if>
            <if test="type!=null and type!=''">
                and t.type =#{type}
            </if>
            <if test="status!=null and status!=''">
                and t.status =#{status}
            </if>
            <if test="oprid!=null and oprid!=''">
                and t.opr_id =#{oprid}
            </if>
        </where>
    </select>


    <select id="getExpContentBases" resultType="com.iwhalecloud.retail.oms.dto.ContentBaseDTO">
        SELECT  <include refid="allFields" />
        from t_content_base t
        <where>
            <![CDATA[
            exp_date < sysdate + #{days}
            and t.status <>  ${@com.iwhalecloud.retail.oms.consts.OmsConst$ContentStatusEnum@OFF_SHELVE.getCode()}
            and t.status <>  ${@com.iwhalecloud.retail.oms.consts.OmsConst$ContentStatusEnum@HAVE_DELETE.getCode()}
            ]]>
            -- 在有效期间内的内容才给与显示
            --and current_date BETWEEN t.EFF_DATE and t.EXP_DATE
        </where>
    </select>

    <update id="invalidateContentBase">
        UPDATE t_content_base t
        <set>
            t.status = ${@com.iwhalecloud.retail.oms.consts.OmsConst$ContentStatusEnum@OFF_SHELVE.getCode()}
        </set>
        <where>
            <![CDATA[
            exp_date < sysdate
            and t.status <>  ${@com.iwhalecloud.retail.oms.consts.OmsConst$ContentStatusEnum@OFF_SHELVE.getCode()}
            and t.status <>  ${@com.iwhalecloud.retail.oms.consts.OmsConst$ContentStatusEnum@HAVE_DELETE.getCode()}
            ]]>
            -- 在有效期间内的内容才给与显示
            --and current_date BETWEEN t.EFF_DATE and t.EXP_DATE
        </where>
    </update>


    <update id="updateContentBase" parameterType="com.iwhalecloud.retail.oms.dto.ContentBaseDTO">
        UPDATE t_content_base
        <set>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        WHERE content_id = #{contentId}
    </update>


    <select id="qryContentBaseByObjTypePageList" parameterType="com.iwhalecloud.retail.oms.dto.resquest.content.ContentBaseByObjTypePageReq"
            resultType="com.iwhalecloud.retail.oms.dto.ContentBaseDTO">
        SELECT  distinct t.CONTENT_ID,
        t.TITLE,
        t.DESP,
        t.CATALOG_ID,
        t.EFF_DATE,
        t.EXP_DATE,
        t.TYPE,
        t.STATUS,
        t.OPR_ID,
        t.UPD_DATE,
        t.MAXPICNUM,
        t.PLAYINTERVAL
        from t_content_base t, (
        <if test="pageReq.type == @com.iwhalecloud.retail.oms.consts.OmsConst$ContentTypeEnum@CONTENT_ORDERPIC.getCode()">
        select t.contentid from t_content_orderpic t where t.objtype = #{pageReq.objType}
        </if>
        <if test="pageReq.type == @com.iwhalecloud.retail.oms.consts.OmsConst$ContentTypeEnum@CONTENT_PIC.getCode()">
        select t.contentid from t_content_pic t where t.objtype = #{pageReq.objType}
        </if>
        <if test="pageReq.type == @com.iwhalecloud.retail.oms.consts.OmsConst$ContentTypeEnum@CONTENT_PICSET.getCode()">
        select t.contentid from t_content_picset t where t.objtype = #{pageReq.objType}
        </if>
        <if test="pageReq.type == @com.iwhalecloud.retail.oms.consts.OmsConst$ContentTypeEnum@CONTENT_VIDEO.getCode()">
        select t.contentid from t_content_video t where t.objtype = #{pageReq.objType}
        </if>
        <if test="pageReq.type == @com.iwhalecloud.retail.oms.consts.OmsConst$ContentTypeEnum@CONTENT_VIDEO_REL.getCode()">
        select t.contentid from t_content_vediolv2 v, t_content_video t where v.objtype = #{pageReq.objType} and t.matid = v.upmatid
        </if>
        ) p, t_content_publish cp
        <where>
            and t.content_id=p.contentid
            and t.content_id = cp.contentId
            <!-- 在有效期间内的内容才给与显示-->
            and now() BETWEEN t.EFF_DATE and t.EXP_DATE
            <if test="pageReq.area!=null and pageReq.area!=''">
              and cp.area like CONCAT(CONCAT('%', #{pageReq.area}), '%')
            </if>
            <if test="pageReq.title!=null and pageReq.title!=''">
                and t.title like CONCAT(CONCAT('%', #{pageReq.title}), '%')
            </if>
            <if test="pageReq.status!=null">
                and t.status in
                <foreach item="item" index="index" collection="pageReq.status" open="("  separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="pageReq.catalogId!=null and pageReq.catalogId!=''">
                and t.catalog_id=#{pageReq.catalogId}
            </if>
        </where>
        order by t.upd_date desc
    </select>

</mapper>