<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.oms.mapper.ContentVedioctrMapper">

<sql id="allFields">
    t.ID 
    ,t.CONTENT_ID 
    ,t.PLAYBACK_ID 
    ,t.STORAGE_NUM 
    ,t.PLAYBACK_TIME 
    ,t.PLAYBACK_SEQUENCE 
    ,t.IS_PLAYBACK 
    ,t.GMT_CREAT 
    ,t.GMT_MODIFY 
</sql>

    <update id="display">
        UPDATE t_content_vedioctr
        <set>
           is_playback = ${@com.iwhalecloud.retail.oms.consts.OmsConst$IsPlayback@NOT_PLAYBACK.getCode()},
        </set>
        WHERE storage_num = #{StorageNum}
    </update>
</mapper>