<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.oms.mapper.ContentPublishMapper">

    <sql id="allFields">
    t.ID
    ,t.CONTENTID
    ,t.WAYTYPE 
    ,t.AREA 
    ,t.OPRID 
    ,t.PUBLISHDATE 
    ,t.EFFDATE 
    ,t.EXPDATE 
</sql>

    <select id="queryContentPublishList" parameterType="java.lang.Long"
            resultType="com.iwhalecloud.retail.oms.entity.ContentPublish">
        SELECT <include refid="allFields" />
        FROM
        t_content_publish t
        WHERE t.CONTENTID=#{contentId}
    </select>

    <delete id="deleteContentPublish" parameterType="com.iwhalecloud.retail.oms.entity.ContentPublish">
        DELETE FROM
        t_content_publish
        WHERE CONTENTID=#{contentPublish.contentid}
    </delete>
</mapper>