<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.iwhalecloud.retail.oms.mapper.ContentMenuMapper">

    <insert id="createContentMenu" parameterType="com.iwhalecloud.retail.oms.entity.TCatalog">
        insert into t_catalog (cata_id,name,parent_cata_id,opr_id,upd_date,can_del,catalog_level) values (#{cataid},#{name},#{parentCataId},#{oprId},#{updDate},#{canDel},#{catalogLevel})
    </insert>

    <delete id="deleteContentMenu" parameterType="com.iwhalecloud.retail.oms.dto.CataLogDTO">
		delete from t_catalog WHERE cata_id=#{cataid}
	</delete>

    <update id="editContentMenu" parameterType="com.iwhalecloud.retail.oms.dto.CataLogDTO">
		UPDATE t_catalog set name = #{name},opr_id = #{oprId},upd_date = #{updDate}
		WHERE cata_id=#{cataid}
	</update>

    <select id="queryContentMenuList" parameterType="com.iwhalecloud.retail.oms.dto.CataLogDTO"
            resultType="com.iwhalecloud.retail.oms.dto.CataLogDTO">
        select * from t_catalog
        <where>
            <if test="cataid!=null">
                and upper(PARENT_CATA_ID) like upper(#{cataid})
            </if>
            <if test="name!=null">
                and upper(name) like upper(#{name})
            </if>
        </where>
        order by CATALOG_LEVEL,name
    </select>

    <select id="queryContentMenuDetail" parameterType="com.iwhalecloud.retail.oms.dto.CataLogDTO"
            resultType="com.iwhalecloud.retail.oms.dto.CataLogDTO">
        select * from t_catalog where cata_id =#{cataid}
    </select>

    <update id="updateContentBase" parameterType="com.iwhalecloud.retail.oms.dto.CataLogDTO">
		UPDATE t_content_base set catalog_id = #{parentCataId},upd_date = #{updDate}
		WHERE catalog_id=#{cataid}
	</update>

    <update id="moveContentMenu" parameterType="com.iwhalecloud.retail.oms.dto.CataLogDTO">
		UPDATE T_CATALOG set parent_cata_id = #{parentCataId},catalog_level =#{catalogLevel}
		WHERE cata_id=#{cataid}
	</update>

    <select id="queryMenuByParentAndName" parameterType="com.iwhalecloud.retail.oms.dto.CataLogDTO"
            resultType="com.iwhalecloud.retail.oms.dto.CataLogDTO">
        select * from t_catalog
        <where>
            <if test="null != parentCataId">
                and PARENT_CATA_ID =#{parentCataId}
            </if>
            <if test="null != name and '' != name">
                and NAME = #{name}
            </if>
        </where>
    </select>
</mapper>