<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iwhalecloud.retail.oms.mapper.EventOperationDeskMapper">

    <!-- 获取分销商当日商品加购数 mysql-->
    <select id="getTodayEventCountByPartnerId" resultType="int">
        SELECT count(1) FROM EVENT e
        WHERE to_days(e.GMT_CREATE) = to_days(now())
        <if test="null != eventCode and '' != eventCode">
            AND e.EVENT_CODE = #{eventCode}
        </if>
        <if test="null != partnerId and '' != partnerId">
            AND e.PARTNER_ID = #{partnerId}
        </if>
    </select>
    <!-- oracle-->
    <!--<select id="getTodayEventCountByPartnerId" resultType="int">-->
        <!--SELECT count(1) FROM EVENT e-->
        <!--WHERE TO_CHAR(e.GMT_CREATE,'YYYYMMDD') = TO_CHAR(SYSDATE-1,'YYYYMMDD')-->
        <!--<if test="null != eventCode and '' != eventCode">-->
            <!--AND e.EVENT_CODE = #{eventCode}-->
        <!--</if>-->
        <!--<if test="null != partnerId and '' != partnerId">-->
            <!--AND e.PARTNER_ID = #{partnerId}-->
        <!--</if>-->
    <!--</select>-->

    <!-- 获取事件统计数 -->
    <select id="getEventCountByArea" parameterType="com.iwhalecloud.retail.oms.dto.resquest.report.ReportOperationDeskReq" resultType="int">
        SELECT count(1) FROM EVENT e,CLOUD_DEVICE c
        where e.DEVICE_NUMBER = c.NUM
        and e.IS_DELETED = 0
        <if test="null != beginTime">
            AND e.GMT_CREATE >= #{beginTime}
        </if>
        <if test="null != endTime">
            AND #{endTime} >= e.GMT_CREATE
        </if>
        <if test="null != eventCode and '' != eventCode">
            AND e.EVENT_CODE = #{eventCode}
        </if>
        <if test="null != areaCode and '' != areaCode">
            AND c.ADSCRIPTION_CITY_AREA = #{areaCode}
        </if>
    </select>

    <!-- 获取厅店访问量排行榜 -->
    <select id="getShopVisitVolumeRankByArea" parameterType="com.iwhalecloud.retail.oms.dto.resquest.report.ReportOperationDeskReq"
            resultType="com.iwhalecloud.retail.oms.dto.ReportEventShopRankDTO">
        select e.ADSCRIPTION_SHOP_ID AS SHOP_ID,e.ADSCRIPTION_SHOP_NAME AS SHOP_NAME,COUNT(1) AS REPORT_AMOUNT
        from EVENT_INTERACTION_TIME e
        <where>
            <if test="null != areaCode and '' != areaCode">
                AND e.ADSCRIPTION_CITY_AREA = #{areaCode}
            </if>
            <if test="null != beginTime">
                AND e.GMT_CREATE >= #{beginTime}
            </if>
            <if test="null != endTime">
                AND #{endTime} >= e.GMT_CREATE
            </if>
        </where>
        GROUP BY e.ADSCRIPTION_SHOP_ID,e.ADSCRIPTION_SHOP_NAME ORDER BY REPORT_AMOUNT DESC
        <choose>
            <when test="null != rankNum and rankNum > 0">
                limit #{rankNum}
            </when>
            <otherwise>
                limit 10
            </otherwise>
        </choose>
    </select>

    <!-- 获取厅店云货架工作时长排行榜 -->
    <select id="getShopWorkTimeRankByArea" parameterType="com.iwhalecloud.retail.oms.dto.resquest.report.ReportOperationDeskReq"
            resultType="com.iwhalecloud.retail.oms.dto.ReportEventShopRankDTO">
        SELECT d.SHOP_ID,d.SHOP_NAME,SUM(d.HOUR_COUNT) AS REPORT_AMOUNT FROM
        (SELECT ADSCRIPTION_SHOP_ID AS SHOP_ID,ADSCRIPTION_SHOP_NAME AS SHOP_NAME,TIMESTAMPDIFF(HOUR,ONLINE_TIME,OFFLINE_TIME) AS HOUR_COUNT
        FROM CLOUD_DEVICE_LOG
        <where>
            <if test="null != beginTime">
                AND #{beginTime} <![CDATA[ <= ]]> ONLINE_TIME
            </if>
            AND ONLINE_TIME <![CDATA[ <= ]]> OFFLINE_TIME
            <if test="null != endTime">
                AND OFFLINE_TIME <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="null != areaCode and '' != areaCode">
                AND ADSCRIPTION_CITY_AREA = #{areaCode}
            </if>
        </where>
        <!-- beginTime < onlineTime < endTime < offlineTime -->
        <if test="null != endTime">
            UNION ALL
            SELECT ADSCRIPTION_SHOP_ID AS SHOP_ID,ADSCRIPTION_SHOP_NAME AS SHOP_NAME,TIMESTAMPDIFF(HOUR,ONLINE_TIME,#{endTime}) AS HOUR_COUNT
            FROM CLOUD_DEVICE_LOG
            <where>
                <if test="null != beginTime">
                    AND #{beginTime} <![CDATA[ <= ]]> ONLINE_TIME
                </if>
                AND ONLINE_TIME <![CDATA[ <= ]]> #{endTime}
                AND #{endTime} <![CDATA[ <= ]]> OFFLINE_TIME
                <if test="null != areaCode and '' != areaCode">
                    AND ADSCRIPTION_CITY_AREA = #{areaCode}
                </if>
            </where>
        </if>
        <!-- onlineTime < beginTime < endTime < offlineTime -->
        <if test="null != beginTime and null != endTime">
            UNION ALL
            SELECT ADSCRIPTION_SHOP_ID AS SHOP_ID,ADSCRIPTION_SHOP_NAME AS SHOP_NAME,TIMESTAMPDIFF(HOUR,#{beginTime},#{endTime}) AS HOUR_COUNT
            FROM CLOUD_DEVICE_LOG
            WHERE ONLINE_TIME <![CDATA[ <= ]]> #{beginTime}
            AND #{beginTime} <![CDATA[ <= ]]> #{endTime}
            AND #{endTime} <![CDATA[ <= ]]> OFFLINE_TIME
            <if test="null != areaCode and '' != areaCode">
                AND ADSCRIPTION_CITY_AREA = #{areaCode}
            </if>
        </if>
        <!-- onlineTime < begeinTime < offlineTime < endTime -->
        <if test="null != beginTime">
            UNION ALL
            SELECT ADSCRIPTION_SHOP_ID AS SHOP_ID,ADSCRIPTION_SHOP_NAME AS SHOP_NAME,TIMESTAMPDIFF(HOUR,#{beginTime},OFFLINE_TIME) AS HOUR_COUNT
            FROM CLOUD_DEVICE_LOG
            WHERE ONLINE_TIME <![CDATA[ <= ]]> #{beginTime} AND #{beginTime} <![CDATA[ <= ]]> OFFLINE_TIME
            <if test="null != endTime">
                AND OFFLINE_TIME <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="null != areaCode and '' != areaCode">
                AND ADSCRIPTION_CITY_AREA = #{areaCode}
            </if>
        </if> ) d
        GROUP BY d.SHOP_ID,d.SHOP_NAME ORDER BY HOUR_COUNT DESC
        <choose>
            <when test="null != rankNum and rankNum > 0">
                limit #{rankNum}
            </when>
            <otherwise>
                limit 10
            </otherwise>
        </choose>
    </select>


    <!-- 按日期获取访问量统计时段数据 --><!-- 程序中统计 -->
    <select id="getTimeIntervalVisitByArea" parameterType="com.iwhalecloud.retail.oms.dto.resquest.report.ReportOperationDeskReq"
            resultType="com.iwhalecloud.retail.oms.dto.ReportEventTimeIntervalDTO">
        select distinct UNIX_TIMESTAMP(GMT_CREATE)*1000 as TIME_STAMP,1 as reportAmount
        from EVENT_INTERACTION_TIME
        <where>
            <if test="null != areaCode and '' != areaCode">
                AND ADSCRIPTION_CITY_AREA = #{areaCode}
            </if>
            <if test="null != beginTime">
                AND GMT_CREATE >= #{beginTime}
            </if>
            <if test="null != endTime">
                AND #{endTime} >= GMT_CREATE
            </if>
        </where>
        order by TIME_STAMP desc
    </select>

    <!-- 按日期获取按天排布统计工作时长 --><!-- 程序中统计 -->
    <select id="getOnOffLineTimeAboutDevice" parameterType="com.iwhalecloud.retail.oms.dto.resquest.report.ReportOperationDeskReq"
            resultType="java.util.Map">
        SELECT ONLINE_TIME, OFFLINE_TIME FROM CLOUD_DEVICE_LOG
        <where>
            <if test="null != beginTime">
                AND #{beginTime} <![CDATA[ <= ]]> ONLINE_TIME
            </if>
            AND ONLINE_TIME <![CDATA[ <= ]]> OFFLINE_TIME
            <if test="null != endTime">
                AND OFFLINE_TIME <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="null != areaCode and '' != areaCode">
                AND ADSCRIPTION_CITY_AREA = #{areaCode}
            </if>
        </where>
        <!-- beginTime < onlineTime < endTime < offlineTime -->
        <if test="null != endTime">
            UNION ALL
            SELECT ONLINE_TIME, OFFLINE_TIME FROM CLOUD_DEVICE_LOG
            <where>
                <if test="null != beginTime">
                    AND #{beginTime} <![CDATA[ <= ]]> ONLINE_TIME
                </if>
                AND ONLINE_TIME <![CDATA[ <= ]]> #{endTime}
                AND #{endTime} <![CDATA[ <= ]]> OFFLINE_TIME
                <if test="null != areaCode and '' != areaCode">
                    AND ADSCRIPTION_CITY_AREA = #{areaCode}
                </if>
            </where>
        </if>
        <!-- onlineTime < beginTime < endTime < offlineTime -->
        <if test="null != beginTime and null != endTime">
            UNION ALL
            SELECT ONLINE_TIME, OFFLINE_TIME FROM CLOUD_DEVICE_LOG
            WHERE ONLINE_TIME <![CDATA[ <= ]]> #{beginTime}
            AND #{beginTime} <![CDATA[ <= ]]> #{endTime}
            AND #{endTime} <![CDATA[ <= ]]> OFFLINE_TIME
            <if test="null != areaCode and '' != areaCode">
                AND ADSCRIPTION_CITY_AREA = #{areaCode}
            </if>
        </if>
        <!-- onlineTime < begeinTime < offlineTime < endTime -->
        <if test="null != beginTime">
            UNION ALL
            SELECT ONLINE_TIME, OFFLINE_TIME FROM CLOUD_DEVICE_LOG
            WHERE ONLINE_TIME <![CDATA[ <= ]]> #{beginTime} AND #{beginTime} <![CDATA[ <= ]]> OFFLINE_TIME
            <if test="null != endTime">
                AND OFFLINE_TIME <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="null != areaCode and '' != areaCode">
                AND ADSCRIPTION_CITY_AREA = #{areaCode}
            </if>
        </if>
    </select>
</mapper>