<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<!-- 指定工作空间，要与接口名相同 -->  
<mapper namespace="com.iwhalecloud.retail.oms.mapper.GiftMapper">

	<sql id="allFields">
	    gift_id,
	    gift_name,
	    gift_type,
	    gift_value,
	    gain_type,
	    need_point_amount,
		gift_amount,
		gift_left_amount,
		gift_ex_amount,
		gain_amount,
		total_gain_amount,
		is_down,
		down_date,
		up_date,
		eff_date,
		exp_date,
		is_del,
		create_date,
		create_user
	</sql>     
	
	<!-- find gift -->
	<select id="listGift"  parameterType="com.iwhalecloud.retail.oms.dto.resquest.gift.ListGiftReqDTO"
	resultType="com.iwhalecloud.retail.oms.dto.response.gift.GiftRespDTO">
		SELECT <include refid="allFields" />
        FROM gift
        WHERE  1 = 1
        <if test="req.giftType != null">
          AND gift_type = #{req.giftType}
        </if>
	</select>

    <select id="getById"  parameterType="Long"
	resultType="com.iwhalecloud.retail.oms.dto.response.gift.GiftRespDTO">
		SELECT <include refid="allFields" />
		FROM gift 
		WHERE gift_id = #{giftId}
	</select>


</mapper>