<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.oms.mapper.GoodsRankingsMapper">

    <sql id="allFields">
        t.ID
        ,t.PRODUCT_ID
        ,t.GOODS_ID
        ,t.ORDER_ID
        ,t.NUM
        ,t.SESSION_ID
        ,t.GOODS_NAME
        ,t.MEMBER_ID
    </sql>

    <insert id="saveGoodsRankings" parameterType="com.iwhalecloud.retail.oms.entity.GoodsRankingsDO">
		insert into R_GOODS_RANKINGS (PRODUCT_ID,GOODS_ID,ORDER_ID,NUM,SESSION_ID,GOODS_NAME,MEMBER_ID,CREATE_TIME,LAST_MODIFY)
		 values (#{productId},#{goodsId},#{orderId},#{num},#{sessionId},#{goodsName},#{memberId},#{specId},sysdate,sysdate)
	</insert>

    <select id="listGoodsRankings" resultType="com.iwhalecloud.retail.oms.dto.ListGoodsRankingsDTO">
	    SELECT sum(num) num,goods_name name
	    FROM R_GOODS_RANKINGS
	    where 1=1
           <if test="req.goodsId != null and req.goodsId !=''">
               AND goods_id = #{req.goodsId}
           </if>
           <if test="req.goodsName != null and req.goodsName !=''">
               AND goods_name LIKE #{req.goodsName}
           </if>
           <if test="req.objType != null and req.objType !=''">
               AND obj_type = #{req.objType}
           </if>
	    GROUP BY goods_name
        ORDER BY num
	</select>

</mapper>