<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.oms.mapper.GoodsCountRankMapper">

    <select id="queryGoodsCountRank" parameterType="com.iwhalecloud.retail.oms.dto.resquest.GoodsCountRankRequest"
            resultType="com.iwhalecloud.retail.oms.dto.GoodsCountRankDTO">
        SELECT e.EVENT_EXTEND AS GOODS_ID,e.EVENT_EXTEND_EXTRA1 AS GOODS_NAME, count(1) AS GOODS_EVENT_COUNT
        FROM EVENT e LEFT JOIN CLOUD_DEVICE c ON e.DEVICE_NUMBER = c.NUM
        WHERE e.IS_DELETED = 0
        <if test="countRankReq.adscriptionCity != null">
            AND c.ADSCRIPTION_CITY = #{countRankReq.adscriptionCity}
        </if>
        <if test="countRankReq.eventCode != null">
            AND e.EVENT_CODE = #{countRankReq.eventCode}
        </if>
        <if test="countRankReq.beginTime != null">
            AND e.GMT_CREATE >= #{countRankReq.beginTime}
        </if>
        <if test="countRankReq.endTime != null">
            AND #{countRankReq.endTime} >= e.GMT_CREATE
        </if>
        GROUP BY EVENT_EXTEND,EVENT_EXTEND_EXTRA1
        ORDER BY GOODS_EVENT_COUNT DESC
    </select>

    <select id="queryGoodsEvaluateRank" parameterType="com.iwhalecloud.retail.oms.dto.resquest.GoodsCountRankRequest"
            resultType="com.iwhalecloud.retail.oms.dto.GoodsCountRankDTO">
        SELECT e.EVENT_EXTEND AS GOODS_ID,e.EVENT_EXTEND_EXTRA1 AS GOODS_NAME,
        CONCAT(FORMAT(AVG(CAST(EVENT_EXTEND_EXTRA2 AS SIGNED INTEGER))*20,1),'%') AS GOODS_EVENT_COUNT
        FROM EVENT e LEFT JOIN CLOUD_DEVICE c ON e.DEVICE_NUMBER = c.NUM
        WHERE e.IS_DELETED = 0
        <if test="evaluateRankReq.adscriptionCity != null">
            AND c.ADSCRIPTION_CITY = #{evaluateRankReq.adscriptionCity}
        </if>
        <if test="evaluateRankReq.eventCode != null">
            AND e.EVENT_CODE = #{evaluateRankReq.eventCode}
        </if>
        <if test="evaluateRankReq.beginTime != null">
            AND e.GMT_CREATE >= #{evaluateRankReq.beginTime}
        </if>
        <if test="evaluateRankReq.endTime != null">
            AND #{evaluateRankReq.endTime} >= e.GMT_CREATE
        </if>
        GROUP BY EVENT_EXTEND,EVENT_EXTEND_EXTRA1
        ORDER BY GOODS_EVENT_COUNT DESC
    </select>

</mapper>