<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.iwhalecloud.retail.oms.mapper.OperatingPositionBindMapper">

    <insert id="createBindProduct" parameterType="com.iwhalecloud.retail.oms.dto.BindProductDTO">
		insert into operating_position_bind_product (id,gmt_create,gmt_modified,creator,modifier,is_deleted,operating_position_id,product_number) values (#{id},#{gmtCreate},#{gmtModified},#{creator},#{modifier},#{isDeleted},#{operatingPositionId},#{productNumber})
	</insert>

    <insert id="createBindContent" parameterType="com.iwhalecloud.retail.oms.dto.BindContentDTO">
		insert into operating_position_bind_content (id,gmt_create,gmt_modified,creator,modifier,is_deleted,operating_position_id,content_number) values (#{id},#{gmtCreate},#{gmtModified},#{creator},#{modifier},#{isDeleted},#{operatingPositionId},#{contentNumber})
	</insert>

	<update id="setIsDeleted" parameterType="java.lang.String">
		UPDATE operating_position_bind
-- HAVE_DELETED(1,"已删除");
		set is_deleted = '1'
		WHERE operating_Position_Id=#{operatingPositionId}
	</update>

	<update id="batchUpdateOperatingPositionBind" parameterType="java.util.List">
		update operating_position_bind
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="product_number =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.productNumber !=null and item.productNumber !='' ">
						when operating_Position_Id = #{item.operatingPositionId} then #{item.productNumber}
					</if>
				</foreach>
			</trim>
			<trim prefix="content_number =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.contentNumber !=null and item.contentNumber !=''">
						when operating_Position_Id = #{item.operatingPositionId} then #{item.contentNumber}
					</if>
				</foreach>
			</trim>
		</trim>
		where  operating_Position_Id in
		<foreach collection="list" index="index" item="item" separator="," open="(" close=")">
			#{item.operatingPositionId}
		</foreach>
	</update>
	<!-- 将contentNumber置为空 -->
	<!-- modify by lin.qi  -->
	<update id="unbindContentId" parameterType="java.lang.String">
        UPDATE operating_position_bind t
        SET t.CONTENT_NUMBER = ''
        WHERE t.CONTENT_NUMBER = #{contentId}
    </update>
	<!--<update id="unbindContentId" parameterType="java.lang.String">
        UPDATE operating_position_bind t
        SET t.IS_DELETED = ${@com.iwhalecloud.retail.oms.consts.OmsConst$IsDeleted@HAVE_DELETED.getCode()}
        WHERE t.CONTENT_NUMBER = #{contentId}
    </update>-->
</mapper>