<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.retail.oms.mapper.ShelfTemplatesDetailMapper">

<sql id="allFields">
    t.ID 
    ,t.GMT_CREATE 
    ,t.GMT_MODIFIED 
    ,t.CREATOR 
    ,t.MODIFIER 
    ,t.IS_DELETED 
    ,t.DEF_CATEGORY_ID 
    ,t.SHELF_TEMPLATES_NUMBER 
    ,t.OPERATING_POSITION_ID 
</sql>

</mapper>