<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<!-- 指定工作空间，要与接口名相同 -->  
<mapper namespace="com.iwhalecloud.retail.oms.mapper.UserGiftExchangeMapper">
      <sql id="allFields">
        exchange_id,
	    user_id,
	    gift_id,
	    create_date,
	    gift_name,
	    gift_type,
	    need_point_amount,
	    gain_amount,
	    total_point
	</sql>                    
                   
	<!-- list gift -->
	<select id="listUserGiftExchange"  parameterType="com.iwhalecloud.retail.oms.dto.resquest.gift.ListUserGiftExchangeReqDTO" 
	resultType="com.iwhalecloud.retail.oms.dto.response.gift.UserGiftExchangeRespDTO">
		SELECT <include refid="allFields" /> 
		 FROM user_gift_exchange
         WHERE 1 = 1
         <if test="req.userId != null">
           AND user_id = #{req.userId}
         </if>
	</select>

	<!-- get newest exchange -->
	<select id="getNewestExchange" resultType="com.iwhalecloud.retail.oms.dto.response.gift.UserGiftExchangeRespDTO">
		SELECT <include refid="allFields" />
		FROM user_gift_exchange
		WHERE ROWNUM <![CDATA[ <= ]]> 1 ORDER BY create_date DESC
	</select>
	
</mapper>